.star-rating__list {
  align-items: center;
  display: flex;
}

.star-rating__item {
  margin-left: 5px;

  &:first-child {
    margin-left: 0;
  }
}

.star-rating__icon {
  height: 18px;
  width: 18px;
}
