.product-card {
  position: relative;
}

.product-card__featured {
  display: block;
  padding-top: 70%;
  position: relative;
}

.product-card__details {
  display: block;
  text-align: center;
  margin-top: 15px;
}
