{%- assign mod_class = mod_class | default: blank -%}
{%- assign mod_fit = mod_fit | default: 'cover' -%}
{%- assign mod_text = mod_text | default: false -%}
{%- assign mod_src = mod_src | default: false -%}
{%- assign mod_srcset = mod_srcset | default: false -%}
{%- assign mod_src_media = mod_src_media | default: false -%}
{%- assign mod_src_retina = mod_src_retina | default: false -%}
{%- assign mod_loader = mod_loader | default: true -%}
{%- assign mod_transparent = mod_transparent | default: false -%}

{%- capture mod_css -%}
  img fit-{{ mod_fit }} {{ mod_class }}{%- if mod_transparent -%} is-transparent{%- endif -%}
{%- endcapture -%}

{%- capture mod_attr -%}
  {%- if mod_text %}title="{{- mod_text | escape -}}" alt="{{- mod_text | escape -}}"{%- endif -%}
{%- endcapture -%}

<picture class="{{- mod_css | strip -}}" data-module="image">
  <noscript>
    <img
      class="img__el is-fallback"
      src="{{- mod_src -}}"
      {{ mod_attr }}>
  </noscript>

  {%- if mod_loader -%}
    <i class="img__loader"></i>
  {%- endif -%}

  {%- if mod_src_media -%}
    {{- mod_src_media -}}
  {%- endif -%}

  <img
    class="img__el"
    data-js-class="img_el"
    data-normal="{{- mod_src -}}"
    {%- if mod_src_retina -%}
      data-retina="{{- mod_src_retina -}}"
    {%- endif -%}
    {%- if mod_srcset -%}
      data-srcset="{{- mod_srcset -}}"
    {%- endif -%}
    {{ mod_attr }}>
</picture>

{%- assign mod_class = nil -%}
{%- assign mod_css = nil -%}
{%- assign mod_attr = nil -%}
{%- assign mod_fit = nil -%}
{%- assign mod_text = nil -%}
{%- assign mod_src = nil -%}
{%- assign mod_srcset = nil -%}
{%- assign mod_src_media = nil -%}
{%- assign mod_src_retina = nil -%}
{%- assign mod_loader = nil -%}
{%- assign mod_transparent = nil -%}
