.hero {
  position: relative;
}

.hero__featured,
.hero__short {
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.hero__featured {
  max-height: 550px;
  width: 100%;

  @media (--s) {
    height: 600px;
    max-height: none;
  }

  @media (--xl) {
    height: 800px;
  }
}

.hero__featured::before {
  padding-top: calc(350 / 320 * 100%);

  @media (--xxs) {
    padding-top: calc(740 / 1440 * 100%);
  }

  @media (--s) {
    content: none;
  }
}

.hero__short {
  max-height: 250px;
  width: 100%;

  @media (--s) {
    height: 300px;
    max-height: none;
  }

  @media (--xl) {
    height: 400px;
  }
}

.hero__short::before {
  padding-top: calc(350 / 320 * 100%);

  @media (--xxs) {
    padding-top: calc(740 / 1440 * 100%);
  }

  @media (--s) {
    content: none;
  }
}

.hero__container {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 auto;

  @media (--s) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    justify-content: flex-start; /* Default content position left */
  }

  .is-center & {
    justify-content: center;
  }

  .is-right & {
    justify-content: flex-end;
  }
}

.hero__wrapper {
  padding: 20px 0;
  width: 100%;

  @media (--xxs) {
    padding: 30px 0;
  }

  @media (--xs) {
    margin: 0 auto;
    max-width: 510px;
  }

  @media (--s) {
    flex: 0 0 auto;
    margin: 0;
    padding: 0;
  }
}

.hero__title {
  margin-bottom: 5px;

  @media (--xxs) {
    margin-bottom: 10px;
  }
}

.hero__content {
  margin-bottom: 15px;

  @media (--xxs) {
    margin-bottom: 20px;
  }
}

.hero__ctas {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;

  @media (--xs) {
    align-items: center;
    flex-direction: row;
  }
}

.hero__btn {
  flex: 0 0 auto;
  margin-top: 6px;
  width: 100%;

  @media (--xs) {
    margin-left: 6px;
    margin-top: 0;
    width: auto;
  }

  &:first-child {
    margin-left: 0;
  }
}
