.contacts-info--footer {
  max-width: 430px;
  width: 100%;
}

.contacts-info__list {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

.contacts-info__item {
  margin-left: 20px;

  &:first-child {
    margin-left: 0;
  }
}

.contacts-info__icon {
  display: block;
  height: 20px;
  margin: 0 auto 6px;
  width: 20px;

  &.contacts-info__icon--phone {
    height: 40px;
    width: 40px;
  }

  &.contacts-info__icon--email {
    height: 40px;
    width: 30px;
  }

  &.contacts-info__icon--chat {
    height: 40px;
    width: 30px;
  }
}
