{%- assign item = section.settings -%}
  {%- render 'testimonials', module: item -%}
{%- assign item = nil -%}

{% schema %}
  {
    "name": "Testimonials",
    "settings": [{
      "type": "text",
      "id": "title",
      "label": "Title"
    }, {
      "type": "textarea",
      "id": "text",
      "label": "Text"
    }],
    "presets": [
      {
        "name": "Text Focus",
        "blocks": []
      }
    ]
  }
{% endschema %}
