{%- comment %}
  The `is_vue` variable should be set on the parent section module to initialize the appropriate scripts.
{% endcomment -%}
{%- assign is_vue = is_vue | default: false -%}

{%- assign class = class | default: nil -%}
{%- assign bind_dynamic_props = bind_dynamic_props | default: false -%}
{%- assign sources = sources | default: nil -%}
{%- assign breakpoints = breakpoints | default: nil -%}
{%- assign width = width | default: 100 -%}
{%- assign width_s = width_s | default: 100 -%}
{%- assign width_m = width_m | default: 100 -%}
{%- assign width_l = width_l | default: 100 -%}
{%- assign alt = alt | default: nil -%}
{%- assign object_fit = object_fit | default: 'cover' -%}
{%- assign loader = loader | default: true -%}

{%- comment %}
  If sources are not dynamic props convert string to array
{% endcomment -%}
{%- if bind_dynamic_props == false -%}
  {%- assign sources_arr = sources | split: '|' -%}
{%- endif -%}

{%- assign breakpoints_arr = breakpoints | split: '|' -%}

{%- capture module_class -%}
  picture
  {%- if is_vue %} picture--vue{%- endif -%}{%- if bind_dynamic_props %}--bind-dynamic{%- endif -%}
  {{- object_fit | prepend: ' fit-' -}}
  {%- if class != blank %} {{ class }}{%- endif -%}
{%- endcapture -%}

{%- capture sizes -%}
  (min-width: 1440px) {{ width_l | append: 'vw ,' -}}
  (min-width: 1024px) {{ width_m | append: 'vw ,' -}}
  (min-width: 768px) {{ width_s | append: 'vw ,' -}}
  {{ width | append: 'vw' -}}
{%- endcapture %}

<div
  class="{{- module_class -}}"
  {%- if is_vue -%}
    {%- if bind_dynamic_props %}
      :sources="{{- sources -}}"
      {%- if breakpoints %}:breakpoints="{{- breakpoints -}}"{%- endif %}
      :alt="{{- alt | default: 'null' -}}"
    {%- else %}
      sources="{{- sources -}}"
      breakpoints="{{- breakpoints -}}"
      alt="{{- alt -}}"
    {%- endif %}
    is="vue-picture" inline-template
  {%- else %}
    data-module="picture"
  {%- endif -%}>
  <picture{%- if is_vue %} :class="{ 'is-loaded': isLoaded }"{%- endif -%}>
    {%- if loader != blank %}
      <i class="picture__loader"></i>
    {%- endif -%}

    {%- if is_vue %}
      <source
        v-for="(srcset, index) in srcsets"
        :media="breakpointsArr[index]"
        :data-srcset="srcset"
        sizes="{{- sizes -}}"
        :key="sourcesArr[index]"
        ref="source">
    {%- else -%}
      {%- for source in sources_arr -%}
        {%- comment %}
          Picture resizing
        {% endcomment -%}
        {%- if source contains '.svg' -%}
          {%- assign image_large = source -%}
        {%- else -%}
          {%- comment -%}
            Prepares images for picture module based on image source
          {%- endcomment -%}
          {%- assign accentuate_cdn = '//images.accentuate.io?c_options=' -%}
          {%- capture options -%}
            &shop={{- shop.permanent_domain -}}&image={{- source -}}
          {%- endcapture -%}

          {%- if source contains 'cdn.accentuate.io' -%}
            {%- capture image_large -%}
              {{- accentuate_cdn -}}w_2160{{- options -}}
            {%- endcapture -%}
            {%- capture image_normal -%}
              {{- accentuate_cdn -}}w_1080{{- options -}}
            {%- endcapture -%}
            {%- capture image_small -%}
              {{- accentuate_cdn -}}w_640{{- options -}}
            {%- endcapture -%}
            {%- capture image_xsmall -%}
              {{- accentuate_cdn -}}w_320{{- options -}}
            {%- endcapture -%}
          {%- elsif source contains '//' -%}
            {%- assign image_large = source -%}
          {%- else -%}
            {%- comment %}
              Converts image to image object if it is only a string
            {% endcomment -%}
            {%- if source.src != blank -%}
              {%- assign image_obj = source -%}
            {%- else -%}
              {%- assign filename = source | split: '/' | last -%}
              {%- assign image_obj = images[filename] -%}
            {%- endif -%}

            {%- assign image_large = image_obj | img_url: '2160x' -%}
            {%- assign image_normal = image_obj | img_url: '1080x' -%}
            {%- assign image_small = image_obj | img_url: '640x' -%}
            {%- assign image_xsmall = image_obj | img_url: '320x' -%}
          {%- endif -%}

          {%- comment -%}
            Assigns srcset
          {%- endcomment -%}
          {%- capture srcset -%}
            {{ image_large }}{%- if image_normal != blank %} 2160w, {{ image_normal }} 1080w, {{ image_small }} 640w, {{ image_xsmall }} 320w{%- endif -%}
          {%- endcapture -%}
        {%- endif %}

        <source
          media="{{- breakpoints_arr[forloop.index0] -}}"
          data-srcset="{{- srcset -}}"
          sizes="{{- sizes -}}">
      {%- endfor -%}
    {%- endif %}

    <noscript>
      <img class="picture__img is-fallback" src="{{- image_large -}}" alt="{{- alt -}}">
    </noscript>

    <img
      class="picture__img"
      {%- if is_vue %}
        :data-src="sourcesArr[sourcesArr.length - 1]"
        :alt="alt"
        ref="img"
      {%- else %}
        data-src="{{- image_large -}}"
        alt="{{- alt -}}"
      {%- endif %}
      loading="lazy">
  </picture>
</div>

{%- assign class = nil -%}
{%- assign module_class = nil -%}
{%- assign bind_dynamic_props = nil -%}
{%- assign sources = nil -%}
{%- assign sources_arr = nil -%}
{%- assign breakpoints = nil -%}
{%- assign breakpoints_arr = nil -%}
{%- assign width = nil -%}
{%- assign width_s = nil -%}
{%- assign width_m = nil -%}
{%- assign width_l = nil -%}
{%- assign sizes = nil -%}
{%- assign alt = nil -%}
{%- assign object_fit = 'cover' -%}
{%- assign loader = true -%}

{%- comment %}
  Generated by 'image-resize' snippet.
  Values are reset here so that the last source in sources (which should be the largest size) can be used for the data-normal, data-srcset and src fallbacks.
{% endcomment -%}
{%- assign image_large = nil -%}
{%- assign image_normal = nil -%}
{%- assign image_small = nil -%}
{%- assign image_xsmall = nil -%}
{%- assign srcset = nil %}
