<div class="product-gallery" data-module="product-gallery">
  <div class="product-gallery__side">
    <ul class="product-gallery__list">
      <li v-for="(image, index) in images" :image="product.image" class="product-gallery__list--item" @click="handleThumbnailClick(index)" :class="{ 'is-active': index === activeIndex && !showVideo }">
        <span class="product-gallery__thumbnail">
          <div
            is="vue-image"
            :src="image.src"
            class="fit-cover product-gallery__thumbnail__img">
          </div>
        </span>
      </li>
      <li v-if="featuredVideo" class="product-gallery__list--item" @click="handlePlayClick" :class="{ 'is-active': showVideo }">
        <span class="product-gallery__thumbnail bg-light-grey">
          <i>&#9658;</i>
        </span>
      </li>
    </ul>
  </div>
  <div class="product-gallery__main ratio ro-2 js-main">
    <div class="product-gallery__featured">
    <transition name="fade">
    <img v-if="!showVideo" is="zoomable-image"  :src="featuredImage" class="product-gallery__img" />{% comment %}lint:ignore{% endcomment %}
    {%- include 'video',
      mod_attr: 'v-else',
      mod_source: 'videoSourceList',
      mod_is_vue: true -%}
    </transition>
    </div>
  </div>
</div>
