.product-breadcrumbs {
  margin-bottom: 13px;

  @media (--ms) {
    margin-bottom: 15px;
  }

  @media (--m) {
    margin-bottom: 16px;
  }

  @media (--ms) {
    margin-bottom: 18px;
  }
}

.pdp-breadcrumbs__label {
  color: var(--black);
}
