<!-- /modules/product-breadcrumbs.liquid -->
{%- assign primary_collection = collection -%}
<div class="container container--xl outer d-none d-s-block product-breadcrumbs">
    <span class="p product-breadcrumbs__label">{{- 'general.breadcrumbs.pdp' | t -}} / <a href="{{primary_collection.url}}">{{primary_collection.title}}</a> / {{product.title}}</span>
</div>
{%- assign primary_collection = nil -%}
