{%- assign mod_encode = mod_encode | default: false -%}
{%- assign mod_title = collection.title -%}
{%- assign mod_description = collection.description -%}
{%- assign mod_excerpt = collection.description -%}
{%- assign mod_more = mod_more | default: 'more' -%}
{%- assign mod_description = mod_description | replace: '"', "&#34;" -%}
{%- assign mod_excerpt = mod_excerpt | replace: '"', "&#34;" -%}
{%- assign mod_more = mod_more | replace: '"', "&#34;" -%}
{%- capture mod_json -%}
{
  "handle":"/collections/{{ collection.handle }}",
  "title":"{{ mod_title }}",
  "description":"{{ mod_description }}",
  "image":"{{ collection.image | img_url: '1440x' }}",
  "fetched": true
}
{%- endcapture -%}
{%- if mod_encode -%}
  {{- mod_json | strip | strip_newlines | url_encode -}}
{%- else -%}
  {{- mod_json -}}
{%- endif -%}
{%- assign mod_encode = nil -%}
{%- assign mod_json = nil -%}
{%- assign mod_title = nil -%}
{%- assign mod_description = nil -%}
{%- assign mod_excerpt = nil -%}
{%- assign mod_more = nil -%}
