{%- layout 'theme' -%}

{%- section 'home-hero' -%}

{%- section 'logo-carousel' -%}

{%- section 'text-focus' -%}

{%- section 'three-up' -%}

{%- section 'two-up-cta' -%}

{%- section 'testimonials' -%}

{%- section 'media-two-up' -%}

{%- include 'product-three-up' -%}

{%- section 'callout' -%}

{% comment %} {%- include 'modal-trigger' -%} {% endcomment %}
