{%- layout 'theme' -%}

{%- include 'hero',
  mod_title: 'Find our products',
  mod_text: "Visit one of our locations",
  mod_position: 'center',
  mod_image: '//via.placeholder.com/2160x1200',
  mod_type: 'short' -%}

{%- include 'store-locator',
  mod_api_key: store_locator.api_key,
  mod_locations_url: store_locator.locations_url -%}
