{%- layout 'theme' -%}

{%- include 'product-main' -%}

{%- include 'product-reviews' -%}

{%- include 'product-three-up' -%}

{%- section 'comparison-chart' -%}

{%- include 'recently-viewed', mod_state: 'capture' -%}

