{%- assign item = item | default: blank -%}
{%- assign type = type | default: blank -%}

<div class="home-hero__slide js-slide" data-index="{{- i -}}">
  {%- case type -%}
    {%- when 'image' -%}
      {%- assign mod_image = item['image'] | img_url: '2160x' -%}
      {%- assign mod_image_intermediate = item['image_intermediate'] | img_url: '1200x' -%}
      {%- assign mod_image_mobile = item['image_mobile'] | img_url: '700x' -%}
      {%- capture mod_image_src_media -%}
        <source media="(max-width: 444px)" data-srcset="{{- mod_image_mobile -}}">
        <source media="(min-width: 445px) and (max-width: 767px)" data-srcset="{{- mod_image_intermediate -}}">
        <source media="(min-width: 768px)" data-srcset="{{- mod_image -}}">
      {%- endcapture -%}

      {%- include 'hero' with 'image',
        mod_title: item['title'],
        mod_text: item['text'],
        mod_btn_text_1: item['btn_text_1'],
        mod_btn_link_1: item['btn_link_1'],
        mod_btn_text_2: item['btn_text_2'],
        mod_btn_link_2: item['btn_link_2'],
        mod_position: item['position'],
        mod_alignment: item['alignment'],
        mod_image: mod_image,
        mod_image_src_media: mod_image_src_media
      -%}

      {%- assign mod_image = nil -%}
      {%- assign mod_image_intermediate = nil -%}
      {%- assign mod_image_mobile = nil -%}
      {%- assign mod_image_src_media = nil -%}
    {%- when 'video' %}
      {%- assign mod_fallback_intermediate = item['fallback_intermediate'] | img_url: '1200x' -%}
      {%- assign mod_fallback_mobile = item['fallback_mobile'] | img_url: '700x' -%}

      {%- include 'hero' with 'video',
        mod_title: item['title'],
        mod_text: item['text'],
        mod_btn_text_1: item['btn_text_1'],
        mod_btn_link_1: item['btn_link_1'],
        mod_btn_text_2: item['btn_text_2'],
        mod_btn_link_2: item['btn_link_2'],
        mod_position: item['position'],
        mod_alignment: item['alignment'],
        mod_video: item['video'],
        mod_fallback_mobile: mod_fallback_mobile,
        mod_fallback_intermediate: mod_fallback_intermediate
      -%}

      {%- assign mod_fallback_intermediate = nil -%}
      {%- assign mod_fallback_mobile = nil -%}
  {%- endcase -%}
</div>

{%- assign item = nil -%}
{%- assign type = nil -%}
