{%- assign id = id | default: nil -%}
{%- assign title = title | default: nil -%}
{%- assign label_1 = label_1 | default: nil -%}
{%- assign label_2 = label_2 | default: nil -%}
{%- assign label_3 = label_3 | default: nil -%}
{%- assign label_4 = label_4 | default: nil -%}
{%- assign label_5 = label_5 | default: nil -%}
{%- assign items = items | default: nil -%}

{%- comment %}
  Set minimum width of table so that it will scroll horizontally on mobile instead of compressing.
  # of item columns x 80px + width of labels column
{% endcomment -%}
{%- assign table_width = items.size | times: 80 | plus: 105 | append: 'px' -%}
<style media="screen">
  .comparison__chart {
    min-width: {{ table_width -}};
  }
</style>

{%- capture label_keys_str -%}
  label_1|label_2|label_3|label_4|label_5|label_6
{%- endcapture -%}
{%- assign label_keys_array = label_keys_str | split: '|' -%}

{%- capture labels_str -%}
  {{- label_1 -}}|{{- label_2 -}}|{{- label_3 -}}|{{- label_4 -}}|{{- label_5 -}}|{{- label_6 -}}
{%- endcapture -%}
{%- assign labels_array = labels_str | split: '|' -%}

<section id="{{- id -}}" class="comparison rel">
  <div class="comparison__container container container--l">
    {%- if title != blank -%}
      <h2 class="h2 comparison__title align-c">
        {{- title -}}
      </h2>
    {%- endif -%}

    {%- if items.size > 0-%}
      <div class="comparison__scroll">
        <table class="comparison__chart">
          <thead>
            <tr>
              <th></th>
              {%- comment %}
                Loop over items for top header row
              {% endcomment -%}
              {%- for item in items -%}
                <th>
                  {%- if item.settings.logo != blank -%}
                    <img class="comparison__chart__logo" src="{{- item.settings.logo | img_url: '200x' -}}" alt="{{- item.settings.title -}}">
                  {%- else -%}
                    {{- item.settings.title -}}
                  {%- endif -%}
                </th>
              {%- endfor -%}
            </tr>
          </thead>
          <tbody>
            {%- comment %}
              Loop over labels for rows
            {% endcomment -%}
            {%- for label_key in label_keys_array -%}
              <tr>
                <th>{{- labels_array[forloop.index0] -}}</th>
                {%- comment %}
                  Loop over items for cell values
                {% endcomment -%}
                {%- for item in items -%}
                  {%- assign item_fields = item.settings -%}
                  {%- assign cell_value = item_fields[label_key] -%}

                  <td>
                    {%- comment %}
                      Cell contents
                    {% endcomment -%}
                    {%- if cell_value == 'true' -%}
                      <div class="icon--ml mha">
                        ✅
                        {%- comment %}
                          {%- include 'icon' with 'icon-checkmark' -%}
                        {% endcomment -%}
                      </div>
                    {%- elsif cell_value == 'false' -%}
                      <div class="icon--ml mha">
                        ❌
                        {%- comment %}
                          {%- include 'icon' with 'icon-x' -%}
                        {% endcomment -%}
                      </div>
                    {%- else -%}
                      {{- cell_value -}}
                    {%- endif -%}
                  </td>
                {%- endfor -%}
              </tr>
            {%- endfor -%}
          </tbody>
        </table>
      </div>
    {%- endif -%}
  </div>
</section>

{%- assign id = nil -%}
{%- assign title = nil -%}
{%- assign label_1 = nil -%}
{%- assign label_2 = nil -%}
{%- assign label_3 = nil -%}
{%- assign label_4 = nil -%}
{%- assign label_5 = nil -%}
{%- assign items = nil -%}
