{%- assign fields = section.settings -%}

{%- include 'comparison-chart',
  id: 'product-comparison',
  title:  fields.title,
  label_1: fields.label_1,
  label_2: fields.label_2,
  label_3: fields.label_3,
  label_4: fields.label_4,
  label_5: fields.label_5,
  label_6: fields.label_6,
  items: section.blocks
-%}

{% schema %}
  {
    "name": "Comparison Chart",
    "class": "product-comparison",
    "settings": [ {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Title"
    }, {
      "type": "header",
      "content": "Chart Labels"
    }, {
      "type": "text",
      "id": "label_1",
      "label": "Label 1",
      "default": "Label 1"
    }, {
      "type": "text",
      "id": "label_2",
      "label": "Label 2",
      "default": "Label 2"
    }, {
      "type": "text",
      "id": "label_3",
      "label": "Label 3",
      "default": "Label 3"
    }, {
      "type": "text",
      "id": "label_4",
      "label": "Label 4",
      "default": "Label 4"
    }, {
      "type": "text",
      "id": "label_5",
      "label": "Label 5",
      "default": "Label 5"
    }, {
      "type": "text",
      "id": "label_6",
      "label": "Label 6",
      "default": "Label 6"
    } ],
    "blocks": [
      {
        "type": "item",
        "name": "Item",
        "settings": [ {
          "type": "text",
          "id": "title",
          "label": "Title"
        }, {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        }, {
          "type": "text",
          "id": "label_1",
          "label": "Label 1",
          "default": "0"
        }, {
          "type": "radio",
          "id": "label_2",
          "label": "Label 2",
          "options": [
            { "value": "true", "label": "True" },
            { "value": "false", "label": "False" }
          ],
          "default": "false"
        }, {
          "type": "radio",
          "id": "label_3",
          "label": "Label 3",
          "options": [
            { "value": "true", "label": "True" },
            { "value": "false", "label": "False" }
          ],
          "default": "false"
        }, {
          "type": "radio",
          "id": "label_4",
          "label": "Label 4",
          "options": [
            { "value": "true", "label": "True" },
            { "value": "false", "label": "False" }
          ],
          "default": "false"
        }, {
          "type": "radio",
          "id": "label_5",
          "label": "Label 5",
          "options": [
            { "value": "true", "label": "True" },
            { "value": "false", "label": "False" }
          ],
          "default": "false"
        }, {
          "type": "radio",
          "id": "label_6",
          "label": "Label 6",
          "options": [
            { "value": "true", "label": "True" },
            { "value": "false", "label": "False" }
          ],
          "default": "false"
        },  ]
      }
    ]
  }
{% endschema %}
