.comparison {
  padding-top: 70px;
  padding-bottom: 70px;

  @media (--s) {
    padding-top: 70px;
    padding-bottom: 120px;
  }

  @media (--m) {
    padding-top: 80px;
    padding-bottom: 100px;
  }

  @media (--l) {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}

.comparison__title {
  margin-bottom: 0.6em;
}

.comparison__scroll {
  width: 100%;
  overflow: auto;
}

.comparison__chart {
  width: 100%;

  tbody tr {
    border-bottom: solid 1px grey;

    &:last-child {
      border-bottom: none;
    }
  }

  th,
  td {
    width: 80px;
    padding: 1.33em 1em;
    text-align: center;
    vertical-align: middle;
  }

  th {
    .comparison__chart__logo {
      max-width: 70px;
      max-height: 35px;
    }

    &:first-child {
      position: sticky;
      left: 0;
      width: 105px;
      padding-left: 0;
      text-align: left;
      background-color: white;
    }
  }
}
