{%- capture mod_accordion_items -%}
  {%- for item in faq_items -%}
    {%- render 'accordion-item',
      mod_title: item.settings.title,
      mod_description: item.settings.description -%}
  {%- endfor -%}
{%- endcapture -%}

<div class="faqs container container--xl">
  {%- render 'accordion',
    mod_items: mod_accordion_items -%}
</div>