{%- render 'faqs', faq_items: section.blocks -%}

{% schema %}
  {
    "name": "FAQs",
    "blocks": [ {
      "type": "faq",
      "name": "FAQ",
      "settings": [ {
        "id": "title",
        "type": "text",
        "label": "Title"
      }, {
        "id": "description",
        "type": "richtext",
        "label": "Description"
      } ]
    } ]
  }
{% endschema %}
