<section class="mt2">
  <div class="container--s mha pt1">
    <h5 class="block mt0 mb05">{{ 'customer.account.date_colon' | t }} {{order.created_at | date: '%b %d, %Y'}}</h5>

    <div class="order__meta order__meta--total inline-block">
      <span>{{- 'customer.account.total_colon' | t -}}</span><span>{{- order.total_price | money -}}</span>
    </div>
    <div class="order__meta inline-block">
      <span>{{- 'customer.account.payment_colon' | t -}}</span><span>{{- order.financial_status_label -}}</span>
    </div>
    <div class="order__meta inline-block">
      <span>{{- 'customer.account.shipping_colon' | t -}}</span><span>{{- order.fulfillment_status_label -}}</span>
    </div>
  </div>
</section>

<section>
  <div class="container--s mha">
    {%- if order.cancelled -%}
      {%- assign cancelled_at = order.cancelled_at | date: "%b %d, %Y @ %I:%M %p" -%}
      {%- capture alert_message -%}
        <p class="p1">{{- 'customer.account.order_cancelled_colon' | t -}} {{- cancelled_at -}}</p>
        <p class="p1">{{- 'customer.account.reason_colon' | t -}} {{- order.cancel_reason | capitalize -}}</p>
      {%- endcapture -%}
      {%- assign cancelled_at = nil -%}
      {%- assign alert_type = 'error' -%}
      {%- include 'alert', mod_type: alert_type, mod_message: alert_message -%}
      {%- assign alert_type = nil -%}
      {%- assign alert_message = nil -%}
    {%- endif -%}
  </div>
</section>

<section class="mt2">
  <div class="container--s mha pv1">
    <h2 class="h4 mb05 mt0">{{- 'customer.account.details' | t -}}</h2>
    <hr/>
    <ul class="order__details block relative w1 mt1">
      {%- for item in order.line_items -%}
        {%- assign url = item.product.url -%}
        {%- assign image = item.image | img_url: '100x' -%}
        {%- assign title = item.product.title -%}
        {%- assign variant = item.variant -%}
        {%- assign price = item.price -%}
        {%- assign props = item.properties -%}
        {%- assign sku = item.sku -%}
        {%- assign quantity = item.quantity -%}
        {%- assign created_at = item.fulfillment.created_at | date: '%b %d, %Y' -%}
        {%- assign tracking_url = line_item.fulfillment.tracking_url -%}
        {%- assign tracking_number = line_item.fulfillment.tracking_number -%}

        <li class="order__details__row f fw ais px1">
          <div class="__image">
            <a href="{{- url -}}"><img src="{{- image -}}" class="w1"/></a>{% comment %}lint:ignore{% endcomment %}
          </div>

          <div class="__info">
            <a href="{{- url -}}"><h4 class="inline-block mv0">{{- title -}}</h4></a>
            <div class="mv0">
              {%- if variant and variant.title != 'Default title'%}<p class="p2">{{- variant.title -}}</p>{%- endif -%}
              {%- if quantity > 1 -%}<p class="p2">{{- 'customer.account.quantity_colon' | t -}} {{- quantity -}}</p>{%- endif -%}
              {%- if sku != blank -%}<p class="p2">{{- 'customer.account.sku_colon' | t -}} {{- sku -}}</p>{%- endif -%}
              {%- unless props == 'empty '%}
              <div class="mt05">
                {%- for p in props -%}
                  <p class="p3">{{ p.first }}: {{ p.last }}</p>
                {%- endfor -%}
              </div>
              {%- endunless -%}
            </div>


            {%- if item.fulfillment and tracking_number -%}
              <div class="mt05">
                <a href="{{- tracking_url -}}" class="order__meta inline-block h5">
                  <span>{{- 'customer.account.track_colon' | t -}}</span><span>{{- tracking_number -}}</span>
                </a>
              </div>
            {%- endif -%}
          </div>

          <div class="__total fa">
            <h4 class="mv0">{{- quantity | times: price | money -}}</h4>
          </div>
        </li>
        {%- assign url = nil -%}
        {%- assign image = nil -%}
        {%- assign title = nil -%}
        {%- assign variant = nil -%}
        {%- assign price = nil -%}
        {%- assign props = nil -%}
        {%- assign sku = nil -%}
        {%- assign quantity = nil -%}
        {%- assign created_at = nil -%}
        {%- assign tracking_url = nil -%}
        {%- assign tracking_number = nil -%}
      {%- endfor -%}
    </ul>
  </div>
</section>

<section class="mt2">
  <div class="container--s mha pv1">

    <h2 class="h4 mb05 mt0">{{- 'customer.account.totals' | t -}}</h2>

    <hr/>

    {%- assign subtotal = order.subtotal_price | money -%}
    {%- assign total = order.total_price | money -%}

    {%- if order.discounts.size > 0 -%}
      <div class="order__total mv1">
        <h5 class="inline-block mt0">{{- 'customer.account.discounts' | t -}}</h5>
        {%- for discount in order.discounts -%}
          <div class="f fw">
            <h6 class="mv0">{{- discount.code -}}</h6>
            <p class="fa mv0 align-r">{{- discount.savings | money -}}</p>
          </div>
        {%- endfor -%}
      </div>

      <hr/>
    {%- endif -%}

    {%- assign subtotal = nil -%}
    {%- assign total = nil -%}

    {%- if order.shipping_methods.size > 0 -%}
      <div class="order__total mv1">
        <h5 class="inline-block mt0">{{- 'customer.account.shipping' | t -}}</h5>
        {%- for ship in order.shipping_methods -%}
          <div class="f fw aic">
            <h6 class="mv0">{{- ship.title | replace: 'Shipping', '' -}}</h6>
            <p class="fa mv0 align-r">{{- ship.price | money -}}</p>
          </div>
        {%- endfor -%}
      </div>

      <hr/>
    {%- endif -%}

    {%- if order.tax_lines.size > 0 -%}
      <div class="order__total mv1">
        <h5 class="inline-block mt0">{{- 'customer.account.tax' | t -}}</h5>
        {%- for tax in order.tax_lines -%}
          <div class="f fw aic">
            <h6 class="mv0">{{- tax.title | replace: 'Tax', ''-}} ({{- tax.rate | times: 100 -}}%)</h6>
            <p class="fa mv0 align-r">{{- tax.price | money -}}</p>
          </div>
        {%- endfor -%}
      </div>

      <hr/>
    {%- endif -%}

    <h3 class="align-r">{{ 'customer.account.total' | t }} <span class="c1">{{- total -}}</span></h3>

  </div>
</section>

<section class="mt2">
  <div class="container--s mha mb1">
    <div class="f fw">

      <div class="w1">
        <h4 class="mv05 h4">{{- 'customer.account.billing' | t -}}</h4>

        {%- assign billing = order.billing_address -%}
        {%- include 'account-order-address',
          name: billing.name,
          company: billing.company,
          street: billing.street,
          city: billing.city,
          province: billing.province,
          zip: billing.zip,
          country: billing.country,
          phone: billing.phone -%}
        {%- assign billing = nil -%}

      </div>

      <div class="w1">
        <h4 class="mv05 h4">{{- 'customer.account.shipping' | t -}}</h4>

        {%- assign shipping = order.shipping_address -%}
        {%- include 'account-order-address',
          shipping: order.shipping_address,
          name: shipping.name,
          company: shipping.company,
          street: shipping.street,
          city: shipping.city,
          province: shipping.province,
          zip: shipping.zip,
          country: shipping.country,
          phone: shipping.phone -%}
        {%- assign shipping = nil -%}

      </div>
    </div>

  </div>
</section>
