.order__meta {
  margin: 0.25em 0.5em 0.25em 0;
  border: 2px solid var(--grey-light);
  border-radius: 4px;

  span {
    display: inline-block;
    padding: 0.25em 0.75em;
    background-color: var(--white);

    &:first-child {
      background-color: var(--grey-light);
      padding-top: 0.32em;
    }
  }
}

.order__meta--total {
  border-color: var(--grey);
}

.order__details__row {
  padding: 1.2em;
  border-radius: 4px;

  &:nth-of-type(odd) {
    background-color: var(--grey-light);
  }

  .__image {
    width: 100px;
    padding-bottom: 1em;

    @media (--m) {
      padding-right: 1em;
      padding-bottom: 0;
    }

    img {
      max-width: 100px;
      max-height: 100px;
    }
  }

  .__info {
    min-width: 100%;

    @media (--m) {
      min-width: 0;
    }
  }

  .__total {
    @media (--m) {
      text-align: right;
    }
  }
}
