{%- assign mod_metafields = mod_metafields | default: nil -%}

{%- capture mod_accordion_items -%}
  {%- for value in mod_metafields.accentuate.description_title -%}
    {%- render 'accordion-item',
      mod_title: value,
      mod_description: mod_metafields.accentuate.description_body[forloop.index0] -%}
  {%- endfor -%}
{%- endcapture -%}

<div class="product-description">
  {%- if mod_accordion_items != blank -%}
    {%- render 'accordion',
      mod_class: 'w1',
      mod_items: mod_accordion_items -%}
  {%- else -%}
    <h2 class="product-description__title product-description__title--basic block h5">Description</h2>
    <div class="product-description__body product-description__body--basic">
      <div>{{- product.description -}}</div>
    </div>
  {%- endif -%}
</div>

{%- assign mod_accordion_items = nil -%}
{%- assign mod_metafields = nil -%}
