.product-description__title--basic {
  &::after,
  &::before {
    display: none;
  }
}

.product-description__body {
  overflow: hidden;
  max-height: 0;
  transition: all 0.2s linear;

  &.wysiwyg {
    padding: 0;
  }

  .product-description__content {
    padding-top: 10px;
  }
}

.product-description__body--basic {
  max-height: none;
}
