.tooltip {
  width: 12px;
  height: 12px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  top: -1px;
  cursor: pointer;
}

.tooltip__icon {
  background-color: var(--grey);
  display: inline-block;
  border-radius: 50%;
}

.tooltip__icon,
.tooltip__icon svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tooltip__content {
  width: 150px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  z-index: 10;
  text-transform: none;
  background: var(--white);
  padding: 10px;
  margin-left: -75px;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.27);

  &.offset--to-right {
    margin-left: -45px;
  }

  &.offset--to-right::after {
    margin-left: -40px;
  }
}

.tooltip__content::before {
  content: '';
  position: absolute;
  background: var(--white);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.tooltip__content::after {
  content: '';
  width: 20px;
  height: 20px;
  background: var(--white);
  position: absolute;
  bottom: -4px;
  left: 50%;
  margin-left: -10px;
  transform-origin: center;
  transform: rotate(45deg);
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.27);
  z-index: 1;
}

.tooltip__content-inner {
  position: relative;
  z-index: 3;
  display: block;
}

.tooltip__content-inner::before {
  content: '';
  position: absolute;
  width: calc(100% + 20px);
  height: 30px;
  left: -10px;
  bottom: calc(-10px + -30px);
}
