.product-form__title {
  margin-bottom: 10px;
}

.product-form__info {
  align-items: center;
  display: flex;
}

.product-form__price {
  flex: 0 0 auto;
  width: auto;

  @media (--xs) {
    margin-bottom: 10px;
  }
}

.product-form__variants {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 10px;

  @media (--xs) {
    flex-direction: row;
    margin-top: 0;
  }
}

.product-form__variants__item--color {
  flex: 0 0 auto;
}

.product-form__variants__item--size {
  width: 100%;
  margin-left: 0;
  margin-top: 10px;

  @media (--xs) {
    margin-left: 30px;
    margin-top: 0;
  }

  @media (--m) {
    align-items: flex-start;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 0;
  }
}

.product-color-swatch__title {
  margin-bottom: 5px;
  display: block;
}

.product-color-swatch__list {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
  max-width: 256px;

  @media (--m) {
    max-width: 192px;
  }

  @media (--l) {
    max-width: 256px;
  }
}

.product-color-swatch__item {
  margin: 5px;
  transition: opacity var(--speed) var(--ease);

  &:disabled {
    opacity: 0.4;
    position: relative;

    &::before {
      background-color: var(--white);
      content: '';
      height: 100%;
      left: 50%;
      position: absolute;
      top: 0;
      transform: translateX(-50%) rotate(45deg);
      width: 1px;
      z-index: 9;
    }

    .color-circle {
      cursor: default;
    }
  }
}

.product-form__quantity {
  margin-bottom: 10px;
}
