.plp-select {
  border: 1px solid var(--black);
  display: inline-flex;
  position: relative;
  min-width: 180px;
  width: auto;
  overflow: hidden;
  align-items: center;

  @media (--m) {
    min-width: 280px;
  }
}

.plp-select__pre {
  white-space: nowrap;
  padding-left: 10px;
  line-height: 40px;
  display: none;

  @media (--m) {
    display: block;
  }
}

.plp-select__pre + .plp-select__el {
  padding-left: 5px;
}

.plp-select__el {
  flex: 0 0 auto;
  height: 40px;
  left: 0;
  line-height: 40px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1;
  margin-left: 5px;

  @media (--m) {
    margin-left: 0;
  }
}

.plp-select__icon {
  display: block;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  z-index: 0;
}

.plp-select__icon > svg {
  display: block;
}
