{%- if section.blocks.size > 0 -%}
  <section class="media-two-up">
    <div class="media-two-up__container container container--xl">
      {%- for block in section.blocks -%}
        {%- assign item = block.settings -%}
        {%- assign type = block.type -%}
        {%- include 'media-two-up',
          item: item,
          type: type -%}
        {%- assign item = nil -%}
        {%- assign type = nil -%}
      {%- endfor -%}
    </div>
  </section>
{%- endif -%}

{% schema %}
{
  "name": "Media Two Up",
  "max_blocks": 2,
  "blocks": [ {
      "type": "image",
      "name": "Image",
      "settings": [ {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }, {
        "type": "image_picker",
        "id": "image_intermediate",
        "label": "Image intermediate"
      }, {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Image mobile"
      } ,{
        "type": "text",
        "id": "image_alt",
        "label": "Alternate text"
      }]
    }, {
      "type": "video",
      "name": "Video",
      "settings": [ {
        "type": "text",
        "id": "video",
        "label": "Video"
      }, {
        "type": "text",
        "id": "video_intermediate",
        "label": "Video intermediate"
      }, {
        "type": "text",
        "id": "video_mobile",
        "label": "Video mobile"
      } ]
  } ],
  "presets": [
    {
      "name": "Media Two Up",
      "blocks": []
    }
  ]
}
{% endschema %}
