.media-two-up {
  padding: 30px 0;

  @media (--s) {
    padding: 50px 0;
  }
}

.media-two-up__container {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (--xxs) {
    width: calc(100% - 40px);
  }

  @media (--xs) {
    width: calc(100% - 80px);
  }

  @media (--s) {
    flex-direction: row;
  }

  @media (--m) {
    width: calc(100% - 160px);
  }
}

.media-two-up__block {
  @media (--s) {
    flex: 1 1 50%;
  }

  &::before {
    padding-bottom: 100%;
  }

  &:last-child {
    margin-top: 30px;

    @media (--s) {
      margin-left: 30px;
      margin-top: 0;
    }
  }
}

.media-two-up__img {
  overflow: hidden;
}
