        {%- assign item = item | default: blank -%}
        {%- assign type = type | default: blank -%}
        <div class="media-two-up__block ratio">
          {%- case type -%}
            {%- when 'image' -%}
              {%- assign mod_image = item['image'] | img_url: '2160x' -%}
              {%- assign mod_image_intermediate = item['image_intermediate'] | img_url: '1200x'-%}
              {%- assign mod_image_mobile = item['image_mobile'] | img_url: '700x' -%}
              {%- assign mod_title = item['image_alt']-%}

              {%- capture mod_image_src_media -%}
                <source media="(max-width: 444px)" data-srcset="{{- item['image_mobile'] -}}">
                <source media="(min-width: 445px) and (max-width: 767px)" data-srcset="{{- item['image_intermediate'] -}}">
                <source media="(min-width: 768px)" data-srcset="{{- mod_image -}}">
              {%- endcapture -%}

              {%- include 'image',
                mod_class: 'media-two-up__img',
                mod_src: mod_image,
                mod_src_media: mod_image_src_media,
                mod_text: mod_title,
                mod_loader: false -%}

              {%- assign mod_image = nil -%}
              {%- assign mod_image_intermediate = nil -%}
              {%- assign mod_image_mobile = nil -%}
              {%- assign mod_image_src_media = nil -%}

            {%- when 'video' -%}
              {%- capture mod_video_source -%}
                <source media="(max-width: 767px)" data-src="{{- item['video'] -}}" type="video/mp4">
                <source media="(min-width: 768px) and (max-width: 959px)" data-src="{{- item['video_intermediate'] -}}" type="video/mp4">
                <source media="(min-width: 960px)" data-src="{{- item['video_mobile'] -}}" type="video/mp4">
              {%- endcapture -%}

              {%- include 'video',
                mod_class: 'media-two-up__img',
                mod_source: mod_video_source -%}

              {%- assign mod_video_source = nil -%}
          {%- endcase -%}
        </div>
        {%- assign item = nil -%}
        {%- assign type = nil -%}
