{%- assign mod_enhanced_zoom = mod_enhanced_zoom | default: false -%}
{%- assign mod_metafields = product.metafields -%}

<script>
BARREL.product = {{- product | json -}};
BARREL.product['featuredVideo'] = {{- product.metafields.accentuate.featured_video | json -}};
</script>
<section class="product-main">
  {%- include 'product-breadcrumbs' -%}
  <div class="product-main__container container container-xl">
    <div class="product-main__gallery">
      {%- if mod_enhanced_zoom -%}
        {%- include 'product-gallery-enhanced' -%}
      {%- else -%}
        {%- include 'product-gallery' -%}
      {%- endif -%}
    </div>
    <div class="product-main__form">
      {%- include 'product-form' -%}
      {%- include 'product-description',
        mod_metafields: mod_metafields -%}
    </div>
  </div>
</section>

{%- assign mod_enhanced_zoom = nil -%}
{%- assign mod_metafields = nil -%}
