:root {
  --cart-border: 1px solid black;
  --cart-border-thick: 2px solid black;
}

.cart-grid {
  position: relative;
  min-height: 320px;
  padding-top: 70px;
}

.cart-grid--mini-cart {
  height: 100%;
}

.cart-grid__inner {
  .cart-grid--mini-cart & {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.cart-grid__header {
  .cart-grid--mini-cart & {
    margin: 30px 0;
  }
}

.cart-grid__content {
  .cart-grid--mini-cart & {
    overflow: hidden;
    height: calc(100% - 60px);

    @media (--s) {
      height: calc(100% - 90px);
    }
  }
}

.cart-grid__subtitle {
  margin: 20px 0;

  .cart-grid--mini-cart & {
    display: none;
  }
}

.cart-grid__container,
.cart-grid__container-inner,
.cart-grid__form {
  .cart-grid--mini-cart & {
    height: 100%;
  }
}

.cart-grid__container-inner {
  .cart-grid--mini-cart & {
    margin-right: -30px;
  }
}

.cart-grid__form {
  .cart-grid--mini-cart & {
    display: flex;
    flex-direction: column;
  }
}

.cart-grid__items,
.cart__footer,
.cart__footer-bottom {
  .cart-grid--mini-cart & {
    padding-right: 30px !important;
  }
}

.cart__header {
  display: none;

  .cart-grid--default & {
    @media (--s) {
      display: table-header-group;
    }
  }
}

.cart__header__item {
  .cart-grid--default & {
    @media (--s) {
      display: table-cell;
      padding: 5px 0 10px;
    }
  }

  &:first-child {
    border-left: 0;
    width: 40%;
  }

  &:nth-of-type(2) {
    width: 20%;
  }

  &:nth-of-type(3) {
    width: 20%;
  }

  &:last-child {
    border-right: 0;
    width: 20%;
  }
}

.cart__body {
  .cart-grid--default & {
    @media (--s) {
      display: table-row-group;
    }
  }
}

.cart-grid__items {
  .cart-grid--mini-cart & {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box !important;
  }

  .cart-grid--default & {
    @media (--s) {
      display: table;
      table-layout: fixed;
      border-collapse: collapse;
    }
  }

  &.is-loading {
    opacity: 0.6;
    pointer-events: none;
  }
}

.cart__body-item {
  padding-top: 15px;
  margin-bottom: 15px;
}

.cart__subtotal {
  padding-top: 15px;
  margin-bottom: 15px;

  span {
    margin-left: 20px;
  }

  .cart-grid--mini-cart & {
    border-top: var(--cart-border);
    display: flex;
    justify-content: space-between;
  }
}
