{%- assign mod_location = mod_location | default: 'default' -%}

{%- unless mod_location == 'mini-cart' -%}
<div data-module="cart-grid">
{%- endunless -%}

  <div is="cart-grid" inline-template>
    <section
      class="cart-grid cart-grid--{{- mod_location | default: 'default' -}}"
      :class="{ 'cart-grid--mobile': isMobile }">
      <div class="cart-grid__inner">
        {% include 'shipping-calculator' %}

        <div class="w1">
          <div class="cart-grid__header align-c">
            <div class="container container--s">
              <h1 class="h3">
                {{- 'cart.general.title' | t -}}
              </h1>
            </div>
          </div>
        </div>

        <div class="cart-grid__content">
          <div class="cart-grid__container container container--m" :class="{ '{% comment %} empty cart styles {% endcomment %}': isEmpty }">
            <div class="cart-grid__container-inner" v-cloak v-if="!isEmpty">
              <h2 class="cart-grid__subtitle h3">Order Details</h2>

              <form
                action="/cart"
                method="post"
                novalidate
                class="cart-grid__form">

                <transition name="fade-down">
                  <div v-if="cart.errors && cart.errors.length" class="error">
                    <p>There are errors with your cart:</p>
                    <ul>
                      <li v-for="error in cart.errors" v-html="error"></li>
                    </ul>
                  </div>
                </transition>

                <div ref="cart" class="cart-grid__items w1" :class="{ 'is-loading': loading }">
                  <div class="cart__header table__row-header label">
                    <div class="cart__header__item table__cell">Item</div>
                    <div class="cart__header__item table__cell align-l">Price</div>
                    <div class="cart__header__item table__cell align-l">Quantity</div>
                    <div class="cart__header__item table__cell align-r">Total</div>
                  </div>
                  <transition-group name="fade-left" tag="div" class="cart__body w1">
                    {%- include 'cart-item' -%}
                  </transition-group>
                </div>
                <div class="cart__footer align-r">
                  <h3 class="cart__subtotal">
                    {{- 'cart.general.subtotal' | t -}}: <span class="inline-block{%- if mod_location == 'mini-cart' -%} h3{%- endif -%}" v-html="subtotal"></span>
                  </h3>
                </div>

                <div class="cart__footer-bottom align-r">
                  {%- if mod_location == 'mini-cart' -%}
                    {%- assign mod_value = 'cart.general.checkout' | t -%}
                    {%- include 'button',
                      mod_value: mod_value,
                      mod_type: 'submit',
                      mod_class: 'btn--outlined btn--full-width' -%}
                    {%- assign mod_value = nil -%}
                    <p class="pt1 pb1 align-c">
                      {{- 'cart.general.shipping_at_checkout' | t -}}
                    </p>
                  {%- else -%}
                    <p class="pt1 pb1 p2">{{- 'cart.general.shipping_at_checkout' | t -}}</p>
                    <a href="/" class="link underline p2 pr1">{{- 'cart.general.keep_shopping' | t -}}</a>
                    {%- assign mod_value = 'cart.general.checkout' | t -%}
                    {%- include 'button',
                      mod_value: mod_value,
                      mod_type: 'submit',
                      mod_class: 'btn--outlined' -%}
                    {%- assign mod_value = nil -%}
                  {%- endif -%}
                </div>
              </form>
            </div>

            <div v-cloak v-if="isEmpty">
              <div class="align-c">
                <h3>{{- 'cart.general.empty' | t -}}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <transition name="fade-in-down">
        <div v-show="loading">
          <div class="spinner spinner--lg spinner--abs is-active">
          </div>
        </div>
      </transition>
    </section>
  </div>

{%- unless mod_location == 'mini-cart' -%}
</div>
{%- endunless -%}


{%- assign mod_location = nil -%}
