{%- assign mod_name = mod_name | default: false -%}
{%- assign mod_label = mod_label | default: false -%}
{%- assign mod_type = mod_type | default: 'text' -%}
{%- assign mod_value = mod_value | default: '' -%}
{%- assign mod_autocorrect = mod_autocorrect | default: false -%}
{%- assign mod_autocapitalize = mod_autocapitalize | default: false -%}
{%- assign mod_placeholder = mod_placeholder | default: '' -%}
{%- assign mod_show_placeholder = mod_show_placeholder | default: false -%}
{%- assign mod_class = mod_class | default: '' -%}
{%- assign mod_error = mod_error | default: '' -%}
{%- assign mod_change = mod_change | default: false -%}
{%- assign mod_style = mod_style | default: 'default' -%}
{%- assign mod_required = mod_required | default: false -%}
{%- assign mod_initial_value = mod_initial_value | default: false -%}
{%- assign mod_initial_value_static = mod_initial_value_static | default: false -%}
{%- assign mod_dynamic_name = mod_dynamic_name | default: false -%}
{%- assign mod_validation = mod_validation | default: false -%}

{% if mod_name %}
  <input
    is="text-input"
    {% if mod_change %}v-on:change="{{- mod_change -}}"{% endif %}
    {%- if mod_label -%}
    label="{{- mod_label -}}"
    aria-label="{{- mod_label -}}"
    {% endif %}
    class="{{ mod_class }}"
    modifier="{{- mod_style -}}"
    type="{{- mod_type -}}"
    {% if mod_dynamic_name %}:{% endif %}name="{{- mod_name -}}"
    {% if mod_show_placeholder %}placeholder="{{- mod_placeholder -}}"{% endif %}
    :autocorrect="{{- mod_autocorrect -}}"
    :autocapitalize="{{- mod_autocapitalize -}}"
    {% if mod_required %}:required="true"{% endif %}
    {% if mod_validation %}:validate-method="{{- mod_validation -}}"{% endif %}
    {% if mod_initial_value %}{% unless mod_initial_value_static %}:initial-value-getter="{{- mod_initial_value -}}"{% endunless %}{% endif %}
    {% if mod_initial_value and mod_initial_value_static %}:initial-value-getter="function () { return '{{- mod_initial_value -}}'}"{% endif %}
    error="{{- mod_error -}}" />
{% else %}
  <p class="p2 italic bold">Whoops! Looks like you missed a value for this field :)</p>
{% endif %}

{%- assign mod_name = nil -%}
{%- assign mod_label = nil -%}
{%- assign mod_type = nil -%}
{%- assign mod_value = nil -%}
{%- assign mod_autocorrect = nil -%}
{%- assign mod_autocapitalize = nil -%}
{%- assign mod_placeholder = nil -%}
{%- assign mod_show_placeholder = nil -%}
{%- assign mod_class = nil -%}
{%- assign mod_error = nil -%}
{%- assign mod_change = nil -%}
{%- assign mod_style = nil -%}
{%- assign mod_required = nil -%}
{%- assign mod_initial_value = nil -%}
{%- assign mod_initial_value_static = nil -%}
{%- assign mod_dynamic_name = nil -%}
{%- assign mod_validation = nil -%}
