.text-input--default {
  position: relative;
  border: 1px solid var(--black);
}

.text-input {
  position: relative;
}

.text-input__wrapper {
  position: relative;
  height: 50px;
  line-height: 50px;

  .text-input--default & {
    position: relative;
    padding: 0 10px;

    @media (--s) {
      padding: 0 20px;
    }
  }

  .text-input--newsletter & {
    height: 50px;
    line-height: 50px;
    border: 1px solid var(--black);

    .footer__newsletter & {
      height: 35px;
      line-height: 35px;
    }
  }
}

.text-input__el {
  height: calc(100% - 2px); /* Needed for background color of chrome auto-complete */
  padding: 0 10px;
  position: relative;
  width: 100%;
  z-index: 1;

  .text-input--label & {
    border: 1px solid var(--black);
    height: 50px;
    padding-left: 15px;
  }

  .footer-mega__newsletter__form & {
    height: 100%;
  }
}

.text-input__label {
  pointer-events: none;
  z-index: 9;

  .text-input--label & {
    margin-bottom: 10px;
  }

  .text-input--default & {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: translateY(0);
    height: 1.5em;
    transition: all 200ms;
    z-index: 1;
    background: var(--white);
    line-height: 1.5em;

    &.is-active {
      transform: translateY(-120%);
      font-size: 12px;
      padding: 0 4px;
    }
  }

  .text-input--newsletter & {
    bottom: 0;
    height: 1.5em;
    margin: auto;
    opacity: 0.5;
    position: absolute;
    top: 0;
    margin-left: 10px;
    transform: translate(0);
    transition: all var(--speed) var(--ease);

    &.is-active {
      font-size: 12px;
      opacity: 1;
      padding: 0 5px;
      transform: translate(-5px, -28px);
      background-color: var(--grey-light);
    }

    .footer-mega__newsletter__form &.is-active {
      background-color: var(--black);
    }
  }

  .footer__newsletter & {
    font-size: 0.8em;
    height: 0.8em;
    line-height: 0.8em;
  }
}

.text-input__error {
  font-size: 12px;
  left: 0;
  position: absolute;
  top: 100%;
  transition: opacity 300ms;

  .text-input--floating-errors & {
    background: var(--white);
    border-radius: 2px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    left: 0;
    padding: 4px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
  }

  .text-input--label &,
  .text-input--default & {
    margin-top: 7px;
  }

  .text-input--newsletter & {
    margin-top: 5px;
  }
}
