{%- paginate customer.addresses by 50 -%}
<div class="account-address mb1" data-module="account-address">
  <transition name="fade">
    <div v-if="showNewAddressForm" ref="newAddressForm" v-cloak>
      {% include 'account-new-address' %}
    </div>
  </transition>

  {%- assign mod_title = 'customer.addresses.title' | t -%}
    {% include 'page-title', mod_title: mod_title %}
  {%- assign mod_title = nil -%}

  {%- if customer.addresses.size != 0 -%}
    <div class="account-address__list" v-cloak>
    {%- for address in customer.addresses -%}
      {%- assign default = '' -%}
      {%- if address == customer.default_address -%}
        {%- assign default = 1 -%}
      {%- endif %}
      <div
        is="account-address-item"
        first-name="{{- address.first_name -}}"
        last-name="{{- address.last_name -}}"
        company="{{- address.company -}}"
        address1="{{- address.address1 -}}"
        address2="{{- address.address2 -}}"
        city="{{- address.city -}}"
        province="{{- address.province_code -}}"
        zip="{{- address.zip -}}"
        country="{{- address.country_code -}}"
        phone="{{- address.phone -}}"
        is-default="{{- default -}}"
        key="address-{{- address.id -}}"
        id="{{- address.id -}}"
        @update="populateAddressForm"
        inline-template>
      <div class="account-address__item relative bg-light-grey">
          <h5 v-if="isDefault" class="h5 account-address__default">{{- 'customer.addresses.default' | t -}}</h5>
          <p class="p2">
            <span class="h5 account-address__name">
              <span v-text="firstName + ' ' + lastName"></span>
            </span>
            <br v-if="company">
            <span v-if="company" v-text="company"></span>
            <br>
            <span v-text="address1 + ' ' + address2"></span>
            <br>
            <span v-text="city"></span>
            <span v-if="province" class="uppercase" v-text="' ' + province"></span>
            <span class="uppercase" v-text="' ' + zip"></span>
            <span class="uppercase" v-text="' ' + country"></span>
            <br>
            <span v-text="phone"></span>
          </p>
          <div class="account-address__footer">
            <button class="link underline" @click="update">{{- 'customer.addresses.edit' | t -}}</button>
            <button class="link underline" @click="remove">{{- 'customer.addresses.remove' | t -}}</button>
          </div>
        </div>
      </div>
      {%- assign default = nil -%}
    {%- endfor -%}
    </div>
  {%- else -%}
    <div>
      {% include 'empty-view', is_vue: true, show_button: false, text: "Let's add our first address!" %}
    </div>
  {%- endif -%}
  <div class="align-c account-adddress__add-address">
    {%- assign mod_value = 'customer.addresses.add' | t -%}
    {%- include 'button',
      mod_value: mod_value,
      mod_class: 'btn--outlined',
      mod_attr: 'v-on:click="showEmptyForm"' -%}
    {%- assign mod_value = nil -%}
  </div>
</div>
{%- endpaginate -%}
