.empty-view {
  margin: 20px 0 40px;
  padding: 20px 25px;

  @media (--ms) {
    margin-top: 40px;
    padding: 50px;
  }
}

.empty-view__title {
  margin-bottom: 25px;

  @media (--ms) {
    margin-bottom: 30px;
  }
}

.empty-view__image {
  width: 100%;
  max-width: 135px;
  margin: 0 auto 25px;

  @media (--ms) {
    max-width: 180px;
    margin-bottom: 35px;
  }

  &::before {
    padding-top: percentage(80/90);

    @media (--ms) {
      padding-top: percentage(110/180);
    }
  }
}

.empty-view__button {
  display: inline-block;

  @media (--ms) {
    min-width: 250px;
  }
}
