.plp__wrap {
  position: relative;
  display: flex;
  flex-flow: wrap;
  padding: 10px 20px 60px 20px;

  @media (--m) {
    flex-flow: nowrap;
  }
}

.plp__sort-bar {
  padding-bottom: 20px;
  display: flex;

  @media (--m) {
    margin: 0 10px 40px;
    border-bottom: 1px solid var(--grey);
  }
}

.is-search .plp__sort-bar.is-empty {
  @media (--m) {
    padding-bottom: 0;
  }
}

.plp__sort-bar__left {
  display: flex;
  width: 50%;
  align-items: center;

  @media (--m) {
    width: calc(100% - 240px);
    align-items: flex-end;
  }
}

.plp__sort-bar__right {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.plp__sort-bar-filter-trigger {
  @media (--m) {
    display: none;
  }
}

.plp__grid-wrap {
  width: 100%;

  @media (--m) {
    margin: 40px 40px 0 0;
  }

  @media (--l) {
    margin: 40px 80px 0 0;
  }

  &.is-empty {
    visibility: hidden;
  }
}

.plp__grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @media (--xxs) {
    width: calc(100% + 20px);
    margin-left: -10px;
  }

  @media (--m) {
    width: 100%;
    margin-left: 0;
  }
}

.plp__grid-first-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  @media (--m) {
    flex-wrap: nowrap;
  }
}

.plp__grid-item {
  padding-bottom: 30px;

  @media (--xxs) {
    padding-bottom: 50px;
    margin: 0 10px;
  }
}

.plp__grid-item-group {
  position: relative;
  width: 100%;
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;

  @media (--m) {
    width: calc(33.32% - 20px);
    margin: 0 10px;
  }
}

.plp__grid-item--normal {
  width: 100%;

  @media (--xxs) {
    width: calc(50% - 20px);
  }

  @media (--l) {
    width: calc(33.32% - 20px);
  }
}

.plp__grid-item--featured {
  width: 100%;

  @media (--m) {
    width: calc(66.65% - 20px);
  }
}

.plp__grid-item--first-row-sm {
  width: 100%;

  @media (--xxs) {
    width: calc(50% - 20px);
  }

  @media (--m) {
    width: 100%;
    margin: 0;
  }
}

.plp__compact-view-btn {
  margin: auto;
}
