{%- layout none -%}
{%- paginate search.results by 50 -%}
{
"menu":[],
"products":[
{%- for product in search.results -%}
{%- include 'product-json',
  mod_item: product,
  mod_encode: false -%}{%- unless forloop.last -%},{%- endunless -%}
{%- endfor -%}
],
"pages":{{ paginate.pages }},
"page":{{ current_page | minus: 1 }}
}
{%- endpaginate -%}
