{%- assign mod_type = type | default: 'error' -%}
{%- assign mod_message = message | default: '' -%}
<div class="alert alert--{{type}}">{{- mod_message -}}</div>
{%- assign mod_type = nil -%}
{%- assign mod_message = nil -%}
