<div class="accordion__item js-item">
  {%- if mod_title != blank -%}
    <button class="h3 align-l accordion__btn js-btn" type="button">{{ mod_title }}</button>
    <div class="accordion__content js-content">
      <div class="wysiwyg accordion__content-inner">
        {{ mod_description }}
      </div>
    </div>
  {%- endif -%}
</div>