.accordion {
  display: block;
}

.accordion__item {
  padding: 15px 0;
  border-bottom: 1px solid var(--black);

  &:first-child {
    border-top: 1px solid var(--black);
  }
}

.accordion__btn {
  display: block;
  position: relative;
  width: 100%;
  padding: 5px 20px 5px 0;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 14px;
    height: 2px;
    background-color: var(--black);
    transition: transform 0.4s var(--ease);
  }

  &::after {
    transform: translateY(-50%) rotate(-90deg);

    .accordion__item--active & {
      transform: translateY(-50%) rotate(0);
    }
  }

  &::before {
    transform: translateY(-50%);
  }

  &:focus {
    outline: none;
  }
}

.accordion__content {
  height: 0;
  overflow: hidden;
  transition: height 0.4s var(--ease);

  .accordion__item--active & {
    transition-delay: 0s;
  }
}

.accordion__content-inner {
  opacity: 0;
  padding: 15px 0;
  transform: translateY(10px);
  transition-duration: 0.4s;
  transition-property: opacity, transform, visibility;
  transition-timing-function: var(--ease);
  visibility: hidden;

  .accordion__item--active & {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}
