{%- assign mod_title = mod_title | default: blank -%}
{%- assign mod_text = mod_text | default: blank -%}
{%- assign mod_klaviyo_url = mod_klaviyo_url | default: blank -%}
{%- assign mod_klaviyo_id = mod_klaviyo_id | default: blank -%}
{%- assign mod_success = mod_success | default: 'Thank You!' -%}
{%- assign mod_placeholder = mod_placeholder | default: 'Email address' -%}
{%- assign mod_error = mod_error | default: 'There is an issue!' -%}
{%- assign mod_cta_text = mod_cta_text | default: 'Submit' -%}

<div class="coming-soon-content">
  <div class="coming-soon-content__wrapper">
    <div class="coming-soon-content__inner">
      <div class="coming-soon-content__text">
        {%- if mod_title != blank -%}
          <div class="coming-soon-animation js-coming-soon-piece">
            <div class="coming-soon-animation__inner">
              <h2 class="coming-soon-content__title second-title c-black">{{- mod_title -}}</h2>
            </div>
          </div>
        {%- endif -%}
        {%- if mod_text != blank -%}
          <div class="coming-soon-animation js-coming-soon-piece">
            <div class="coming-soon-animation__inner">
              <span class="coming-soon-content__subtitle p1">{{- mod_text -}}</span>
            </div>
          </div>
        {%- endif -%}
      </div>
      <div class="coming-soon-content__form coming-soon-animation js-coming-soon-piece">
        <div class="coming-soon-content__form__inner coming-soon-animation__inner">
          {%- render 'newsletter-form',
            mod_provider: 'klaviyo',
            mod_klaviyo_url: mod_klaviyo_url,
            mod_klaviyo_group: mod_klaviyo_id,
            mod_placeholder: mod_placeholder,
            mod_error_msg: mod_error,
            mod_success_msg: mod_success,
            mod_btn_text: mod_cta_text -%}
        </div>
      </div>
    </div>
  </div>
</div>

{%- assign mod_title = nil -%}
{%- assign mod_text = nil -%}
{%- assign mod_klaviyo_id = nil -%}
{%- assign mod_klaviyo_url = nil -%}
{%- assign mod_placeholder = nil -%}
{%- assign mod_success = nil -%}
{%- assign mod_error = nil -%}
{%- assign mod_cta_text = nil -%}