.coming-soon-content__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.coming-soon-content__subtitle {
  display: block;
  margin-top: 10px;

  @media (--m) {
    margin-top: 30px;
  }
}

.coming-soon-content__form {
  max-width: 360px;
  margin-top: 20px;

  @media (--m) {
    margin-top: 35px;
  }
}

.coming-soon-content__form__inner {
  padding-bottom: 20px;
}
