.two-up-cta {
  margin-bottom: 50px;
}

.two-up-cta__content-inner {
  margin: auto;
  padding: 32px 30px 62px;
  text-align: center;

  @media (--s) {
    padding: 35px 50px;
    text-align: left;
  }

  @media (--ml) {
    padding: 45px 50px;
  }

  @media (--xl) {
    padding: 65px 75px;
  }
}

.two-up-cta__button {
  @media (--s) {
    min-width: 130px;
  }
}

.two-up-cta__title {
  margin: 0 0 5px;
  padding: 0;

  @media (--xs) {
    margin-bottom: 10px;
  }
}

.two-up-cta__intro {
  margin: 0 0 20px;

  @media (--m) {
    margin: 0 0 25px;
  }

  @media (--xl) {
    margin: 0 0 35px;
  }
}
