{%- assign mod_title = item['title'] -%}
{%- assign mod_text = item['text'] -%}
{%- assign mod_cta_text = item['cta_text'] -%}
{%- assign mod_cta_url = item['cta_url'] -%}
{%- assign mod_image = item['image'] -%}

{%- if mod_title != blank or mod_text != blank or mod_image -%}
  <section class="two-up-cta">
    <div class="two-up-cta__container container container--l">
      <div class="two-up-cta__wrapper">
        <div class="two-up-cta__inner">
          <div class="two-up-cta__block two-up-cta__content">
            <div class="two-up-cta__content-inner">
              {%- if mod_title != blank -%}
                <h3 class="h3 two-up-cta__title">
                  {{- mod_title -}}
                </h3>
              {%- endif -%}

              {%- if mod_text != blank -%}
                <div class="p2 two-up-cta__intro">
                  {{- mod_text -}}
                </div>
              {%- endif -%}

              {%- if mod_cta_text != blank and mod_cta_url != blank -%}
                {%- include 'button' with 'link'
                  mod_class: 'btn--primary',
                  mod_href: mod_cta_url,
                  mod_value: mod_cta_text -%}
              {%- endif -%}
            </div>
          </div>
          {%- if mod_image -%}
            <div class="two-up-cta__block two-up-cta__featured ratio">
              {%- include 'image',
                mod_class: 'two-up-cta__image',
                mod_src: mod_image,
                mod_text: mod_title -%}
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </section>
{%- endif -%}

{%- assign mod_title = nil -%}
{%- assign mod_text = nil -%}
{%- assign mod_cta_text = nil -%}
{%- assign mod_cta_url = nil -%}
{%- assign mod_image = nil -%}
