<section class="home-three-up">
  <div class="home-three-up__container container container--xl">

    <div class="home-three-up__wrapper post-card-three-up">
      {%- for post_card in post_cards -%}
        {%- assign item = post_card.settings -%}
        {%- assign mod_image = item['image'] | img_url: '600x' -%}
        {%- assign mod_image_intermediate = item['image_intermediate'] | img_url: '480x' -%}
        {%- assign mod_image_mobile = item['image_mobile'] | img_url: '240x' -%}
        {%- capture mod_image_src_media -%}
          <source media="(max-width: 619px)" data-srcset="{{- mod_image_mobile -}}">
          <source media="(min-width: 620px) and (max-width: 999px)" data-srcset="{{- mod_image_intermediate -}}">
          <source media="(min-width: 1000px)" data-srcset="{{- mod_image -}}">
        {%- endcapture -%}

        {%- include 'post-card',
          mod_title: item['title'],
          mod_tag: item['tag'],
          mod_text: item['text'],
          mod_image: mod_image,
          mod_image_text: item['image'].alt,
          mod_image_src_media: mod_image_src_media,
          mod_cta_text: item['cta_text'],
          mod_cta_url: item['cta_url'] -%}

        {%- assign item = nil -%}
        {%- assign mod_image = nil -%}
        {%- assign mod_image_intermediate = nil -%}
        {%- assign mod_image_mobile = nil -%}
        {%- assign mod_image_src_media = nil -%}
      {%- endfor -%}

    </div>
  </div>
</section>
