{%- assign blocks = section.blocks -%}

{%- render 'three-up', post_cards: blocks -%}

{%- assign blocks = nil -%}

{% schema %}
{
  "name": "Three Up",
  "class": "three-up",
  "blocks": [ {
      "type": "image",
      "name": "Image Card",
      "settings": [ {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      } ]
    }
  ]
}
{% endschema %}
