.coming-soon__wrapper {
  position: relative;
}

.coming-soon__inner {
  height: 100vh;

  @media (--m) {
    display: flex;
  }
}

.coming-soon__image,
.coming-soon__content {
  flex: 1 1 50%;
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1000;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: var(--black);
    transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  }
}

.coming-soon__image__inner {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--black);

  &::before {
    padding-bottom: calc(257 / 320 * 100%);

    @media (--s) {
      padding-bottom: calc(500 / 768 * 100%);
    }

    @media (--m) {
      padding-bottom: 100vh;
    }
  }
}

.coming-soon__content {
  position: relative;
  padding: 25px 20px 0 20px;
  text-align: center;
  overflow: auto;

  @media (--s) {
    max-width: 550px;
    margin: 0 auto;
  }

  @media (--m) {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: none;
    padding: 40px 60px;
  }

  &::after {
    .is-loaded & {
      transform: translate3d(0, -100%, 0);
    }
  }
}

.coming-soon__content__inner {
  position: relative;

  @media (--m) {
    max-width: 522px;
  }
}

.coming-soon__logo {
  display: block;
  margin-bottom: 25px;
}

.coming-soon__logo__image {
  margin: 0 auto;
  max-width: 80px;
  width: 100%;
}

.coming-soon__image {
  &::after {
    .is-loaded & {
      transform: translate3d(0, 100%, 0);
    }
  }
}

.coming-soon-animation {
  overflow: hidden;
}

.coming-soon-animation__inner {
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: translate3d(0, 100%, 0);

  .is-active & {
    transform: translate3d(0, 0, 0);
  }
}
