{%- capture logo_src -%}{{- fields['logo'].src -}}{%- endcapture -%}
{%- capture logo_text -%}{{- fields['logo'].alt -}}{%- endcapture -%}

<section class="coming-soon" data-module="coming-soon-template">
  <div class="coming-soon__wrapper">
    <div class="coming-soon__inner">
      <div class="coming-soon__image">
        <div class="coming-soon__image__inner ratio" style="background-image: url({{- fields['side_image'] -}});"></div>
      </div>
      <div class="coming-soon__content">
        <div class="coming-soon__content__wrapper">
          <div class="coming-soon__content__inner">
            {%- if logo_src != blank -%}
              <div class="coming-soon__logo coming-soon-animation js-coming-soon-piece">
                <div class="coming-soon-animation__inner">
                  <div class="coming-soon__logo__image ratio ro-1">
                    {%- include 'image',
                      mod_src: logo_src,
                      mod_text: logo_text,
                      mod_fit: 'contain' -%}
                    </div>
                </div>
              </div>
            {%- endif -%}
            {%- include 'coming-soon-content',
              mod_title: fields['title'],
              mod_text: fields['text'],
              mod_klaviyo_url: fields['klaviyo_'],
              mod_klaviyo_id: fields['klaviyo_id'],
              mod_placeholder: fields['form_placeholder'],
              mod_success: fields['form_success'],
              mod_error: fields['form_error'],
              mod_cta_text: fields['form_cta_text'] -%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Coming Soon",
    "settings": [{
      "type": "header",
      "content": "Content"
    }, {
      "type": "image_picker",
      "id": "side_image",
      "label": "Side Image"
    }, {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    }, {
      "type": "text",
      "id": "title",
      "label": "Title"
    }, {
      "type": "textarea",
      "id": "text",
      "label": "Text"
    }, {
      "type": "header",
      "content": "Form"
    }, {
      "type": "text",
      "id": "klaviyo_id",
      "label": "Klaviyo ID"
    }, {
      "type": "textarea",
      "id": "form_success",
      "label": "Success Message"
    }, {
      "type": "textarea",
      "id": "form_error",
      "label": "Error Message"
    }, {
      "type": "text",
      "id": "form_cta_text",
      "label": "CTA Text"
    }]
  }
{% endschema %}