{% assign mod_items = mod_items | default: '' %}
{% assign mod_title_tag = mod_title_tag | default: 'h2' %}

<ul>
  {%- for mod_item in mod_items -%}
    <li>
      {%- if mod_item.url -%}
        <a href="{{- mod_item.url -}}">
          {{- mod_item.title -}}
        </a>
      {%- else -%}
        <p id="{{- mod_item.title | handleize -}}" class="p" href="#{{- mod_item.title | handleize -}}">
          <strong>{{- mod_item.title -}}</strong>
        </p>
      {%- endif -%}

      {%- if mod_item.description -%}
        {{- mod_item.description -}}
      {%- endif -%}

      {%- if mod_item.items -%}
        {%- include 'nested-list',
          mod_items: mod_item.items,
          mod_title_tag: 'p'
        -%}
      {%- endif -%}
    </li>
  {%- endfor -%}
</ul>

{%- assign mod_item = nil -%}
{%- assign mod_items = nil -%}
{%- assign mod_title_tag = nil -%}