{%- assign mod_image = item['image'] -%}
{%- assign mod_image_mobile = item['image_mobile'] -%}
{%- assign mod_cta_text = item['cta_text'] -%}
{%- assign mod_cta_url = item['cta_url'] -%}

<section class="callout">
  <div class="callout__featured ratio">
    {%- capture mod_image_src_media -%}
      <source media="(max-width: 619px)" data-srcset="{{- mod_image_mobile -}}">
      <source media="(min-width: 620px)" data-srcset="{{- mod_image -}}">
    {%- endcapture -%}

    {%- include 'image',
      mod_src: item['image'],
      mod_src_media: mod_image_src_media,
      mod_loader: false -%}

    {%- assign mod_image_src_media = nil -%}
  </div>

  {%- assign mod_text = item['text'] -%}

  <div class="callout__container container container--s align-c">
    {%- if mod_text != blank -%}
      <h2 class="callout__text h3">
        {{- mod_text -}}
      </h2>
    {%- endif -%}

    {%- if mod_cta_text != blank and mod_cta_url != blank -%}
      {%- include 'button',
        mod_class: 'callout__btn btn--primary',
        mod_value: mod_cta_text,
        mod_href: mod_cta_url -%}
    {%- endif -%}
  </div>
</section>

{%- assign mod_image = nil -%}
{%- assign mod_image_mobile = nil -%}
{%- assign mod_text = nil -%}
{%- assign mod_cta_text = nil -%}
{%- assign mod_cta_url = nil -%}