.callout {
  position: relative;
}

.callout__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0;
  z-index: 9;

  @media (--xs) {
    height: 100%;
    left: 0;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.callout__text {
  margin-bottom: 15px;
}

.callout__featured {
  min-height: 145px;

  @media (--xs) {
    min-height: 280px;
  }

  &::before {
    padding-bottom: calc(145 / 360 * 100%);

    @media (--xs) {
      padding-bottom: calc(300 / 1440 * 100%);
    }
  }
}
