.header-side__icon--cart {
  display: block;
  width: 21px;
  height: 30px;
}

.header-side__cart-count {
  position: absolute;
  top: 7px;
  width: 100%;
  text-align: center;
  font-size: 9px;
  line-height: 19px;
}
