<section
  class="style-guide"
  data-module="styleguide"
  is="styleguide"
  :first-name="data.firstName"
  :items="10"
  inline-template
>
  <div class="container style-guide__container">
    <div class="f style-guide__wrapper">
      <div class="style-guide__block style-guide__block--left">
        <div class="style-guide__section">
          <h2 class="h2 style-guide__section-title">Typography</h2>
          <p class="style-guide__label">Fonts</p>

          <div class="style-guide__box">
            <h3 class="h2">Aa Zz</h3>
            <p class="mt025">Aktiv Grotesk</p>
          </div>

          <p class="style-guide__label">Desktop</p>
          <h1 class="h1">Heading 1</h1>
          <hr>

          <h2 class="h2">Heading 2</h2>
          <hr>

          <h3 class="h3">Heading 3</h3>
          <hr>

          <h4 class="h4">Heading 4</h4>
          <hr>

          <h5 class="h5">Heading 5</h5>
          <hr>

          <h6 class="h6">Heading 6</h6>
          <hr>

          <p class="p1">“Leading Text - develop, promote, and sustain dance, music, and opera”</p>
          <hr>

          <p class="p2">Paragraph Text - Our community solar farms bring green, renewable energy to residents and businesses while saving them money on their electric bills. Our first project, situated in beautiful Sullivan County, is completed and currently generating clean energy that is benefiting 350 residents and small businesses.</p>
          <hr>

          <p class="p3">Small Paragraph Text - Our community solar farms bring green, renewable energy to residents and businesses while saving them money on their electric bills. Our first project, situated in beautiful Sullivan County, is completed and currently generating clean energy that is benefiting 350 residents and small businesses.</p>
        </div>
      </div>

      <div class="style-guide__block style-guide__block--right">
        <div class="style-guide__section">
          <h2 class="h2 style-guide__section-title">Color Palette</h2>
          <p class="style-guide__label">Primary Colors</p>
          <div class="f fw style-guide__color-grid">
            <div class="style-guide__color-item">
              <div class="style-guide__color-box bg-red">
                <p class="style-guide__color-code white uppercase">#FF0000</p>
              </div>
            </div>

            <div class="style-guide__color-item">
              <div class="style-guide__color-box bg-yellow">
                <p class="style-guide__color-code white uppercase">#FDD007</p>
              </div>
            </div>

            <div class="style-guide__color-item">
              <div class="style-guide__color-box bg-grey">
                <p class="style-guide__color-code white uppercase">#D0D0D0</p>
              </div>
            </div>

            <div class="style-guide__color-item">
              <div class="style-guide__color-box bg-light-grey">
                <p class="style-guide__color-code white uppercase">#F1F1F1</p>
              </div>
            </div>
          </div>
        </div>

        <div class="style-guide__section">
          <h2 class="h2 style-guide__section-title">Patterns & Dividers</h2>
          <hr>
          <p class="style-guide__label">Divider</p>
        </div>

        <div class="style-guide__section">
          <h2 class="h2 style-guide__section-title">Button & UI Elements</h2>
          <a class="a1" href="#">Collections</a>
          <a class="a1 ml2" href="#">Products</a>
          <p class="style-guide__label">Header Navigation - Primary Link</p>
          <hr>

          <a class="footer__nav__item__link link small" href="#">Collections</a>
          <a class="footer__nav__item__link link small ml1" href="#">Products</a>
          <p class="style-guide__label">Footer Navigation Link</p>
          <hr>

          {% include 'button',
            mod_class: '',
            mod_value: 'Button Text',
            mod_type: 'link',
            mod_style: 'primary' %}
          <p class="style-guide__label">Primary Button</p>
          <hr>

          {% include 'button',
            mod_class: '',
            mod_value: 'Button Text',
            mod_type: 'button',
            mod_style: 'outlined' %}
          <p class="style-guide__label">Outlined Button</p>
          <hr>

          {%- include 'social-links', class: 'f aic'-%}
          <p class="style-guide__label">Social Media Set</p>
        </div>

        <div class="style-guide__section">
          <h2 class="h2 style-guide__section-title">Forms</h2>

          <div class="address-form__input">
            {%- include 'text-input' with
              mod_name: 'data[first_name]',
              mod_label: 'First Name',
              mod_change: 'onInputChange',
              mod_initial_value: "getInitialValue",
              mod_error: 'First Name is required',
              mod_required: true -%}
          </div>
          <p class="style-guide__label">Input field</p>
          <hr>

          {%- include 'checkbox' with
            mod_name: 'styleguide-checkbox',
            mod_label: 'Checkbox',
            mod_class: 'styleguide__checkbox',
            mod_change: 'onInputChange'
          -%}
          <p class="style-guide__label">Checkbox</p>
          <hr>

          <div class="block">
            {%- include 'radio-button' with
              mod_name: 'styleguide-radio',
              mod_label: 'Radio Button 1',
              mod_class: '',
              mod_checked: true,
            -%}
          </div>

          <div class="block">
            {%- include 'radio-button' with
              mod_name: 'styleguide-radio',
              mod_label: 'Radio Button 2',
              mod_class: '',
            -%}
          </div>
          <p class="style-guide__label">Radio Button</p>
          <hr>

          {%- include 'select-input' with
            mod_name: 'testing',
            mod_label: '',
            mod_dynamic_options: "[{label: 'Option 1', value: '1'}, {label: 'Option 2', value: '2'}]",
            mod_change: 'onInputChange',
            mod_error: 'Province is required',
            mod_required: true -%}
          <p class="style-guide__label">Select</p>
          <hr>
          {%- render 'newsletter-form',
            mod_class: 'style-guide__newsletter',
            mod_provider: newsletter.provider,
            mod_klaviyo_url: newsletter.klaviyo_url,
            mod_klaviyo_group: newsletter.klaviyo_group
            mod_mailchimp_url: newsletter.mailchimp_url,
            mod_placeholder: newsletter.form_placeholder,
            mod_error_msg: newsletter.form_error_message,
            mod_success_msg: newsletter.form_success_message,
            mod_btn_text: newsletter.form_btn_text -%}
          <p class="style-guide__label">Newsletter Form</p>
          <hr>

          {%- include 'header-cart-icon', mod_count: 8 -%}
          <p class="style-guide__label">Cart</p>
        </div>
      </div>
    </div>
  </div>
</section>
