{%- assign mod_name = mod_name | default: false -%}
{%- assign mod_value = mod_value | default: false -%}
{%- assign mod_label = mod_label | default: false -%}
{%- assign mod_checked = mod_checked | default: false -%}
{%- assign mod_dynamic_checked = mod_dynamic_checked | default: false -%}
{%- assign mod_class = mod_class | default: blank -%}
{%- assign mod_required = mod_required | default: false -%}
{%- assign mod_on_change = mod_on_change | default: false -%}

<label class="checkbox {{ mod_class }}">
  <input
    is="checkbox"
    type="checkbox"
    {%- if mod_name -%}name="{{- mod_name -}}"{%- endif -%}
    {%- if mod_value -%}value="{{- mod_value -}}"{%- endif -%}
    {%- if mod_checked -%}checked="{{- mod_checked -}}"{%- endif -%}
    {%- if mod_dynamic_checked -%}:checked="{{- mod_dynamic_checked -}}"{%- endif -%}
    {%- if mod_required-%}required="{{- mod_required -}}"{%- endif -%}
    {%- if mod_on_change -%}@change="{{- mod_on_change -}}"{%- endif -%} />
    <span class="pointer checkbox__label p2">{{- mod_label -}}</span>
</label>

{%- assign mod_name = nil -%}
{%- assign mod_value = nil -%}
{%- assign mod_label = nil -%}
{%- assign mod_checked = nil -%}
{%- assign mod_dynamic_checked = nil -%}
{%- assign mod_class = nil -%}
{%- assign mod_required = nil -%}
{%- assign mod_on_change = nil -%}
