.checkbox {
  display: flex;
  align-items: center;
}

.checkbox--align-t {
  align-items: flex-start;
}

.checkbox__icon {
  width: 15px;
  height: 15px;
  position: relative;
  border: 1px solid var(--grey);
  margin-right: 10px;
}

.is-error.checkbox__icon {
  border: 1px solid var(--red);
}

.checkbox--align-t .checkbox__icon {
  margin-top: 2px;
}

.checkbox__icon-el {
  cursor: pointer;
  display: block;
  flex: 0 0 auto;
  height: 15px;
  margin-right: 10px;
  opacity: 0;
  position: relative;
  width: 15px;
  z-index: 1;
}

.checkbox__icon-el:checked + .checkbox__icon-tick {
  opacity: 1;
}

.checkbox__icon-tick {
  width: 10px;
  position: absolute;
  top: 1px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 0;
  opacity: 0;
  transition: opacity 300ms var(--ease);
}

.is-error + .checkbox__label {
  color: var(--red);
}
