%footer-padding {
  padding: 1.66em 0;

  @media (--s) {
    padding: 2em 0;
  }

  @media (--m) {
    padding: 1.66em 0;
  }

  @media (--l) {
    padding: 3em 0;
  }
}

.footer {
  border-top: solid 1px var(--grey-light);

  .template-collection-story & {
    border-top: 0;
  }

  a:focus,
  button:focus,
  .btn:focus {
    outline: 2px solid blue;
  }
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
  width: 100%;
  -ms-grid-columns: minmax(min-content, 1fr) minmax(min-content, 1fr);
}

.footer__social-links {
  grid-column: 1 / span 4;
  grid-row: 1 / span 1;
  place-self: center;
  padding: 1.5em 2rem;

  @media (--s) {
    grid-column: 1 / span 1;
    grid-row: 3 / span 2;
    place-self: start;
    padding: 1rem 2rem 2rem;
  }

  @media (--l) {
    grid-column: 1 / span 1;
    grid-row: 1 / span 4;
    place-self: center;
    padding: 2rem;
  }
}

.footer__newsletter {
  grid-column: 1 / span 4;
  grid-row: 2 / span 1;
  place-self: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-top: 1px solid var(--grey-light);
  padding: 1.5em 2rem;

  @media (--s) {
    width: 300px;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    place-self: end start;
    justify-content: flex-start;
    align-items: flex-end;
    border-top: none;
    padding: 2rem 2rem 1rem;
  }

  @media (--l) {
    grid-column: 3 / span 1;
    grid-row: 1 / span 4;
    place-self: center;
    align-items: center;
    border-left: 1px solid var(--grey-light);
    padding: 1rem 2rem 1rem 3rem;
  }

  @media (--xl) {
    width: 350px;
    padding: 1rem 2rem 1rem 4rem;
  }
}

.footer__nav {
  grid-column: 1 / span 3;
  grid-row: 3 / span 2;
  place-self: center start;
  width: 100%;
  height: 100%;
  padding: 1.5rem 0;

  @media (--s) {
    grid-column: 2 / span 2;
    grid-row: 1 / span 4;
    border-left: 1px solid var(--grey-light);
    padding: 2rem 0;
  }

  @media (--l) {
    grid-column: 2 / span 1;
    grid-row: 1 / span 4;
    place-self: center;
    border-left: none;
    padding: 2rem 0;
  }
}

.footer__menu {
  flex-wrap: wrap;
  padding: 0 2rem;

  @media (--s) {
    padding: 0 3rem;
  }

  @media (--l) {
    justify-content: center;
    padding: 0 1rem;
  }

  @media (--xl) {
    padding: 0 3rem;
  }
}

.footer__menu .footer__nav__item {
  width: 50%;

  @media (--s) {
    width: 33.33%;
  }

  @media (--ml) {
    width: 25%;
  }

  @media (--l) {
    width: auto;
    margin-right: 1em;
  }

  @media (--xl) {
    margin-right: 1.25em;
  }

  @media (--s-max) {
    &:nth-child(2n) {
      padding-left: 5px;
    }
  }
}

.footer__secondary {
  flex-direction: column;
  border-top: 1px solid var(--grey-light);
  font-size: 1rem;

  @media (--s) {
    flex-direction: row;
    font-size: 1.1rem;
  }
}

.footer__rights-reserved {
  @media (--s) {
    margin-left: 0.25em;
  }
}
