{%- render 'text-focus', item: section.settings -%}

{% schema %}
  {
    "name": "Text Focus",
    "settings": [{
      "type": "text",
      "id": "title",
      "label": "Title"
    }, {
      "type": "textarea",
      "id": "text",
      "label": "Text"
    }],
    "presets": [
      {
        "name": "Text Focus",
        "blocks": []
      }
    ]
  }
{% endschema %}
