{%- assign blocks = section.blocks -%}

{%- render 'logo-carousel', logos: blocks -%}

{%- assign blocks = nil -%}

{% schema %}
{
  "name": "Logo Carousel",
  "class": "logo-carousel",
  "blocks": [ {
      "type": "image",
      "name": "Image Card",
      "settings": [ {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      } ]
    }
  ]
}
{% endschema %}
