<section class="logo-carousel" data-module="logo-carousel">
  <div class="logo-carousel__container container container--xl">
    <div class="logo-carousel__wrapper js-carousel">
      {%- for logo in logos -%}
        {%- assign item = logo.settings -%}
        {%- if item['image'] -%}
          {%- assign mod_image = item['image'] | img_url: 'master' -%}
          <div class="logo-carousel__item js-slide">
            <div class="logo-carousel__featured ratio">
              {%- include 'image',
                mod_src: mod_image,
                mod_text: item['image'].alt,
                mod_loader: false -%}
            </div>
          </div>
        {%- endif -%}
        {%- assign item = nil -%}
        {%- assign mod_image = nil -%}
      {%- endfor -%}
    </div>
  </div>
</section>
