.container {
  .mini-cart & {
    margin: 0 auto;
    position: relative;
    width: calc(100% - 40px * 2);

    @media (--xs) {
      width: calc(100% - 20px * 2);
    }
  }
}

.mini-cart,
.mini-cart-bg {
  position: fixed;
  z-index: 998;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}

.mini-cart {
  z-index: 999;
  top: 10%;
  bottom: 0;
  left: 0;

  @media (--s) {
    max-width: 400px;
    top: 0;
    left: auto;
  }
}

.mini-cart__close {
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 902;

  .is-icon {
    display: block;
    height: 20px;
    width: 20px;
    z-index: 1000;
  }
}

.mini-cart-bg {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.6);
}

.mini-cart-leave-active,
.mini-cart-enter-active {
  transition: all 0.45s var(--ease);
}

.mini-cart-enter-to {
  transform: translate3d(0, 0, 0);
}

.mini-cart-enter,
.mini-cart-leave-to {
  transform: translate3d(0, 100%, 0);

  @media (--s) {
    transform: translate3d(100%, 0, 0);
  }
}
