{%- unless template contains 'cart' -%}
  <div data-module="mini-cart" data-vue-app="true" v-cloak>
    <div is="mini-cart" inline-template>
      <div>
        <transition name="mini-cart">
          <div key="mini-cart" class="mini-cart bg-white relative" v-show="app.isMiniCartOpen">
            <div class="container mini-cart__header">
              <div class="mini-cart__close">
                  <button class="is-icon a1" href="/" @click="toggleMiniCart">
                    <i>
                      {%- include 'icon' with 'icon-close' -%}
                    </i>
                  </button>
              </div>
            </div>

            {%- include 'cart-grid', mod_location: 'mini-cart' -%}
          </div>
        </transition>

        <!-- add in loading state -->
        <transition name="fade">
          <div key="mini-cart-bg" class="mini-cart-bg" v-show="app.isMiniCartOpen" @click="toggleMiniCart"></div>
        </transition>
      </div>
    </div>
  </div>
{%- endunless -%}
