.product-three-up__container {
  width: 100%;

  @media (--m) {
    width: calc(100% - 160px);
  }

  .flickity-slider {
    padding: 0 40px;
  }
}

.product-three-up__items {
  @media (--m) {
    display: flex;
    justify-content: center;
  }
}

.product-three-up__item {
  margin-left: 30px;
  width: 210px;

  @media (--xs) {
    width: 410px;
  }

  @media (--m) {
    width: calc(33.33% - 20px);
  }

  &:first-child {
    @media (--xxs) {
      margin-left: 0;
    }
  }
}
