# Video Module

Responsive html5 video with lazy loading.

## API Reference

- `mod_class` Additional classes for the module.
- `mod_source` <source> elements for vanilla js version. Array of
  sources for vue version.
- `mod_poster` A url for an image to be shown while the video is
  downloading.
- `mod_offset` A length in pixels used to compute when the video will
  soon be visible and load it just before it comes visible.
- `mod_is_vue` Set it to true to enable the vue version of the module.
- `mod_attr` Additional attributes for the video module

## Usage

### Vanilla JS

```
{%- capture mod_video_source -%}
  <source data-src="small.mp4" type="video/mp4" media="(max-width: 480px)">
  <source data-src="video.mp4" type="video/mp4">
{%- endcapture -%}
```

```
{%- include 'video',
  mod_offset: 300,
  mod_source: mod_video_source -%}
```

### Vue Component

```
sourceList = [
  { src: 'small.mp4', type: 'video/mp4', media: '(max-width: 480px)' },
  { src: 'video.mp4', type: 'video/mp4' }
]
```

```
{%- include 'video',
  mod_is_vue: true,
  mod_source: 'sourceList' -%}
```
