{%- assign mod_class = mod_class | default: blank -%}
{%- assign mod_source = mod_source | default: blank -%}
{%- assign mod_poster = mod_poster | default: blank -%}
{%- assign mod_offset = mod_offset | default: blank -%}
{%- assign mod_is_vue = mod_is_vue | default: nil -%}
{%- assign mod_attr = mod_attr | default: nil -%}

<div
  class="video {{ mod_class }}"
  data-offset="{{ mod_offset }}"
  {% if mod_attr != blank %}
    {{ mod_attr }}
  {% endif %}
  {% if mod_is_vue %}
    is="vue-video"
    inline-template
    {% if mod_source != blank %}
      :source="{{ mod_source }}"
    {% endif %}
    {% if mod_poster != blank %}
      :poster="{{ mod_poster }}"
    {% endif %}
  {% else %}
    data-module="video"
  {% endif %}>

  {%- if mod_is_vue -%}
    <div>
  {%- endif -%}

  <video
    class="video__el"
    {% if mod_is_vue %}
      ref="video"
      @canplay="onCanPlay"
      {%- if mod_poster != blank -%}
        :poster="poster"
      {%- endif -%}
      :class="{ 'is-loaded': isLoaded }"
    {% endif %}
    {% if mod_poster != blank and mod_is_vue != true %}
      poster="{{ mod_poster }}"
    {% endif %}
    autoplay
    loop
    muted
    playsinline>

    {%- if mod_is_vue -%}
      <source
        v-for="(item, index) in source"
        ref="source"
        :type="item.type"
        :media="item.media"
        :data-src="item.src">
      </source>
    {%- else -%}
      {{- mod_source -}}
    {%- endif -%}

  </video>

  {%- if mod_is_vue -%}
    </div>
  {%- endif -%}
</div>

{%- assign mod_class = nil -%}
{%- assign mod_source = nil -%}
{%- assign mod_poster = nil -%}
{%- assign mod_offset = nil -%}
{%- assign mod_is_vue = nil -%}
{%- assign mod_attr = nil -%}
