.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video__el {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity var(--speed) var(--ease);

  &.is-loaded {
    opacity: 1;
  }
}
