<div
  class="account-new-addr"
  is="account-new-address"
  :first-name="activeAddress.firstName"
  :last-name="activeAddress.lastName"
  :company="activeAddress.company"
  :address1="activeAddress.address1"
  :address2="activeAddress.address2"
  :city="activeAddress.city"
  :province="activeAddress.province"
  :zip="activeAddress.zip"
  :country="activeAddress.country"
  :phone="activeAddress.phone"
  :is-default="activeAddress.isDefault"
  :id="activeAddress.id"
  :toggle-new-address-form="toggleNewAddressForm"
  :key="'address-' + activeAddress.id"
  :countries="countries"
  inline-template>
  <div ref="wrapper">

    <form @submit="validate" method="post" :action="formAction" id="address_form_new" accept-charset="UTF-8">
      <input type="hidden" name="form_type" value="customer_address" />
      <input type="hidden" name="utf8" value="✓" />
      <input v-if="id" type="hidden" name="_method" value="put" />

      {%- if form.errors -%}
        {{- form.errors | default_errors -}}
      {%- endif -%}

      <h4 class="h4 align-c address-form__title" ref="title">{{- 'customer.addresses.add' | t -}}</h4>

      <div class="address-form__group">
        <div class="address-form__input">
          {%- include 'text-input' with
            mod_name: 'address[first_name]',
            mod_label: 'First Name',
            mod_change: 'onInputChange',
            mod_initial_value: "getInitialValue",
            mod_error: 'First Name is required',
            mod_required: true -%}
        </div>

        <div class="address-form__input">
          {%- include 'text-input' with
            mod_name: 'address[last_name]',
            mod_label: 'Last Name',
            mod_change: 'onInputChange',
            mod_initial_value: "getInitialValue",
            mod_error: 'Last Name is required',
            mod_required: true -%}
        </div>
      </div>

      <div class="address-form__group">
        <div class="address-form__input">
          {%- include 'text-input' with
            mod_name: 'address[company]',
            mod_label: 'Company',
            mod_change: 'onInputChange',
            mod_initial_value: "getInitialValue", -%}
        </div>
        <div class="address-form__input">
          {%- include 'text-input' with
          mod_name: 'address[phone]',
          mod_label: 'Phone',
          mod_change: 'onInputChange',
          mod_initial_value: "getInitialValue" -%}
        </div>
      </div>

      <div class="address-form__group">
        <div class="address-form__input">
          {%- include 'text-input' with
            mod_name: 'address[address1]',
            mod_label: 'Address',
            mod_change: 'onInputChange',
            mod_initial_value: "getInitialValue",
            mod_error: 'Address is required',
            mod_required: true -%}
        </div>
        <div class="address-form__input">
          {%- include 'text-input' with
            mod_name: 'address[address2]',
            mod_label: 'Apt, Suite, etc. (optional)',
            mod_change: 'onInputChange',
            mod_initial_value: "getInitialValue",
            mod_required: false -%}
        </div>
      </div>

      <div class="address-form__group">
        <div class="address-form__input">
        {%- include 'text-input' with
          mod_name: 'address[city]',
          mod_label: 'City',
          mod_change: 'onInputChange',
          mod_initial_value: "getInitialValue",
          mod_error: 'City is required',
          mod_required: true -%}
        </div>
        <div class="address-form__input">
          {%- include 'select-input' with
            mod_name: 'address[country]',
            mod_label: '',
            mod_dynamic_value: "getInitialValue",
            mod_dynamic_options: 'generateCountryArray',
            mod_change: 'onInputChange',
            mod_error: 'Country is required',
            mod_required: true -%}
        </div>
      </div>

      <div class="address-form__group">
        <div :key="country" class="address-form__input" v-if="showProvinceSelect">
        {%- include 'select-input' with
          mod_name: 'address[province]',
          mod_label: '',
          mod_change: 'onInputChange',
          mod_dynamic_value: "getInitialValue",
          mod_dynamic_options: 'generateProvinceArray',
          mod_error: 'Province is required',
          mod_required: true -%}
        </div>
        <div :key="country" class="address-form__input" v-else="showProvinceSelect"></div>

        <div class="address-form__input">
          {%- include 'text-input' with
            mod_name: 'address[zip]',
            mod_label: 'Zip / Postal Code',
            mod_initial_value: "getInitialValue",
            mod_change: 'onInputChange' -%}
        </div>
      </div>

      {%- include 'checkbox' with
        mod_name: 'address[default]',
        mod_label: 'Set as default address.',
        mod_class: 'account-form__checkbox'
        mod_dynamic_checked: "getInitialValue('address[default]')",
        mod_change: 'onInputChange'
      -%}

      <p class="pt1 f">
        {%- assign mod_value = 'customer.addresses.add' | t -%}
        {%- include 'button',
          mod_value: mod_value,
          mod_type: 'submit',
          mod_class: 'btn--outlined' -%}
        {%- assign mod_value = nil -%}

        <button class="underline ml1" v-on:click.prevent="toggleNewAddressForm(false)">
          {{- 'customer.addresses.cancel' | t -}}
        </button>
      </p>
    </form>
  </div>
</div>

{%- assign form_id = nil -%}
{%- assign form_classes = '' -%}
