.address-form__title {
  margin-bottom: 25px;

  @media (--s) {
    margin-bottom: 45px;
  }
}

.address-form__group {
  @media (--s) {
    margin-bottom: 20px;
    display: flex;
  }
}

.address-form__input {
  width: 100%;
  margin-bottom: 10px;

  @media (--s) {
    width: 50%;
    margin-bottom: 0;
  }
}

.address-form__input:first-child {
  @media (--s) {
    margin-right: 20px;
  }
}

.address-form__input + .address-form__input {
  @media (--s) {
    margin-right: 20px;
  }
}

.address-form__footer {
  margin-top: 25px;
  margin-bottom: 40px;

  @media (--s) {
    margin-top: 45px;
    margin-bottom: 80px;
  }
}
