  {%- if mod_is_collection -%}
    <div class="plp-hero bg-grey">
      <div class="plp-hero__wrap">
        <div class="plp-hero__copy">
          <div class="w100">
            <h1 class="plp-hero__title h3">
              <span v-html="collection.title" v-cloak>
                {{- collection.title -}}
              </span>
            </h1>
            {%- if collection.description and collection.description != blank -%}
              <div class="plp-hero__text p2">
                {{- collection.description -}}
              </div>
            {%- endif -%}
          </div>
        </div>
        <div class="plp-hero__image">
          <div
            css="fit-cover pos-top"
            is="vue-image"
            :src="collection.image"
            :alt="collection.alt">
            <noscript>
              <img src="{{- collection.image -}}" />{% comment %}lint:ignore{% endcomment %}
            </noscript>
          </div>
        </div>
      </div>
    </div>
  {%- else -%}
    <div class="plp-hero plp-hero--search align-c bg-parchment">
      <div class="h2">Search Results</div>
      {%- assign search_string = search.terms | split: '*' -%}
      <p class="p2">Showing {{ search.results_count }} result(s) for "{{ search_string[1] }}" in Products</p>
      {%- assign search_string = nil -%}
    </div>
  {%- endif -%}
