.plp-hero--search {
  padding-top: 40px;

  @media (--m) {
    padding-top: 80px;
  }
}

.plp-hero__wrap {
  display: flex;
  flex-wrap: wrap-reverse;

  @media (--m) {
    flex-wrap: nowrap;
  }
}

.plp-hero__copy {
  text-align: center;
  padding: 30px 20px;
  width: 100%;

  @media (--m) {
    width: auto;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    padding: 90px;
    max-width: 700px;
    min-width: 520px;
    min-height: 450px;
  }
}

.plp-hero__title {
  margin-bottom: 10px;
}

.plp-hero__image {
  width: 100%;
  position: relative;
  padding-top: 50%;

  @media (--m) {
    padding-top: 0;
  }
}
