<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

  {%- include 'favicon' -%}

  <title>{{- title -}}</title>

  {% if settings.is_dev_mode %}
    {{ '/dev/main.js' | script_tag }}
  {% else %}
    {{ 'main.min.css' | asset_url | stylesheet_tag }}
  {% endif %}

  <script>
    (function(d) {
      var config = {
        kitId: 'clg4vhw',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
  </script>
  <script type="text/javascript">
    var SHOPIFY_CDN = "{{ 'test.jpg' | asset_url }}".replace(/test.jpg\?\d*/,'');
  </script>
</head>
<body class="no-touch template">
  {%- block -%}
  {%- endblock -%}

  {% unless settings.is_dev_mode %}
    {{ 'main.min.js' | asset_url | script_tag }}
  {% endunless %}

</body>
</html>
