{%- assign mod_state = mod_state | default: 'view' -%}

{%- if mod_state == 'view' -%}
  <div class="recently-viewed hide bg-parchment page-bottom-spacing" data-module="recently-viewed">
    {%- include 'product-three-up',
      mod_class: 'product-three-up--is-4up'
      mod_title: 'Recently Viewed' -%}
  </div>
{%- elsif mod_state == 'capture' -%}
  <div data-module="recently-viewed" data-sku="{{- product.first_available_variant.sku -}}"></div>
{%- endif -%}

{%- assign mod_state = nil -%}
