#shopify-section-header {
  padding-bottom: 85px;

  @media (--s) {
    padding-bottom: 110px;
  }

  @media (--m) {
    padding-bottom: 120px;
  }
}

.header-mega {
  background-color: var(--white);

  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 998;
  transition: background var(--duration) ease-in;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 3px solid var(--black);
  }

  .header-mega__container {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: space-between;

    @media (--s) {
      height: 75px;
    }

    @media (--m) {
      height: 85px;
    }
  }

  &.is-active {
    background-color: var(--white);
  }
}

.header-mega__main {
  position: relative;
  padding: 0 20px;

  @media (--m) {
    padding: 0 240px 0 40px;
  }

  @media (--l) {
    padding-left: 80px;
  }
}

.header-mega__btn-mobile {
  position: relative;
  bottom: 0;
  cursor: pointer;
  display: block;
  height: 30px;
  width: 40px;

  @media (--xs) {
    height: 17px;
    width: 40px;
  }

  @media (--m) {
    display: none;
  }
}

.header-mega__btn-mobile::before,
.header-mega__btn-mobile__el {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--black);
  transition: all var(--duration) ease-in;

  @media (--xs) {
    width: 25px;
  }
}

.header-mega .header-logo {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  text-align: center;
  top: 0;
  width: 150px;
  line-height: 50px;
  z-index: 10;

  @media (--s) {
    line-height: 75px;
  }

  @media (--m) {
    line-height: 85px;
  }
}

.header-mega__btn-mobile::before {
  top: 10px;
}

.header-mega__btn-mobile__el {
  bottom: 10px;
}

.header-mega__btn-mobile.is-active .header-mega__btn-mobile__el {
  top: 50%;
  transform: translate(-10px, -50%) rotate(-45deg);
}

.header-mega__btn-mobile.is-active::before {
  top: 50%;
  transform: translate(-10px, -50%) rotate(45deg);
}

.header-mega__nav {
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 5;
  padding-top: 40px;
  padding-bottom: 60px;
  transform: translateX(-100%);
  transition: transform var(--speed) var(--ease);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  .has-promo & {
    top: 89px;
  }

  &.is-active {
    background-color: var(--white);
    transform: translateX(0%);
  }

  @media (--m-max) {
    height: auto !important;
  }

  @media (--s) {
    top: 75px;
    padding-top: 55px;
    padding-bottom: 0;

    .has-promo & {
      top: 114px;
    }
  }

  @media (--m) {
    position: static;
    display: block;
    height: 100%;
    width: 100%;
    flex: 0 0 auto;
    overflow-y: visible;
    transform: none;
    padding-top: 0;
  }

  &.is-animated {
    transition: height var(--speed) var(--ease), transform 0.4s ease, background 0.4s ease;
  }
}

.header-mega__nav__container {
  padding-bottom: 30px;

  @media (--m) {
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 100%;
    padding-bottom: 0;
    z-index: 0;
  }
}

.header-mega__nav__list {
  @media (--m) {
    display: flex;
    height: 100%;
    justify-content: flex-start;
    width: calc(50% - 50px);
  }

  &.header-mega__nav__list--right {
    @media (--m) {
      justify-content: flex-end;
    }
  }
}

.header-mega__nav__item {
  border-bottom: 3px solid var(--black);

  @media (--m) {
    border: 0;
    margin-right: 32px;

    .header__nav__list--right & {
      margin-right: 0;
      margin-left: 32px;
    }
  }
}

.header-mega__nav__link.is-active {
  & + .header-mega__subnav {
    overflow: auto;
    height: auto;
  }

  .header-mega__nav__icon {
    transform: rotate(180deg);
  }
}

.header-mega__nav__link {
  font-size: 12px;
  position: relative;
  display: block;
  padding: 19px var(--gutter-xxs) 17px;
  transition: color var(--speed) var(--ease);
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  @media (--m) {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-bottom: none;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
  }
}

.header-mega__nav__icon {
  width: 20px;
  height: 16px;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -8px;
  transition: transform var(--speed) var(--ease);

  .has-subnav & {
    width: 12px;
    right: 18px;
  }

  @media (--m) {
    display: none !important;
  }
}

.header-mega__subnav {
  overflow: hidden;
  height: 0;
  padding: 0 var(--gutter-xxs);
  transition-duration: 0.5s;
  transition-property: height;
  transition-timing-function: var(--ease-out-quart);

  @media (--m) {
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    width: 100%;
    padding: 0;
    transition-duration: 0.5s;
    transition-property: opacity, height, visibility, background;
    transition-timing-function: var(--ease-out-quart);

    &.is-active {
      background-color: var(--white);
    }
  }
}

.header-mega__subnav__items {
  display: flex;
  width: 100%;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: var(--gutter-xxs);

  @media (--m) {
    padding: 90px 40px 40px;
  }

  @media (--l) {
    padding: 90px 0 40px;
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (--xxl) {
    max-width: 1280px;
  }
}

.header-mega__subnav__item {
  display: flex;
  flex-wrap: wrap;

  &.header__subnav__item--single {
    width: 50%;

    @media (--s) {
      width: 25%;
    }

    @media (--m) {
      width: calc(33.33% / 2);
    }

    @media (--xxl) {
      width: 25%;
    }
  }

  &.header-mega__subnav__item--double {
    width: 100%;

    @media (--s) {
      width: 50%;
    }

    @media (--m) {
      width: 33.33%;
    }

    @media (--xxl) {
      width: 25%;
    }
  }

  &.header-mega__subnav__item--image {
    @media (--m) {
      width: 33.33%;
    }

    @media (--xxl) {
      width: 25%;
    }
  }
}

&.header-mega__subnav__item--image a {
  @media (--m) {
    a {
      display: block;
      width: 100%;
    }

    .link--line,
    .icon {
      display: none;
    }
  }
}

.header-mega__subnav__item--image-link {
  @media (--m) {
    width: 100%;
  }
}

.header-mega__subnav__item__image {
  display: none;
  transition: 0.3s ease all;
  position: relative;
  margin-bottom: 10px;

  @media (--m) {
    overflow: hidden;
    display: block;
    padding-bottom: 75%;
    background-size: cover;
    background-position: center;
  }

  &:hover {
    opacity: 0.8;
  }
}

.header-mega__subnav__list {
  @media (--m) {
    padding: 10px 20px 20px 20px;
  }
}

.header-mega__subnav__item__title {
  margin-bottom: 15px;
  width: 100%;
}

.header-mega__subnav__item__links {
  a {
    display: block;
    font-size: 12px;
    margin-bottom: 15px;
  }

  .header-mega__subnav__item--double & {
    width: 50%;
  }
}

.header-mega__subnav__item + .header-mega__subnav__item {
  margin-top: 10px;

  @media (--m) {
    margin-top: 0;
  }
}

.header_cart-count {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;

  svg {
    width: 18px;
    height: 18px;
  }

  .count {
    margin-left: 5px;
  }
}

body {
  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.8s ease all;
    pointer-events: none;
    opacity: 0;
    z-index: 995;
  }

  &.menu-open {
    &::before {
      opacity: 1;
    }
  }
}

.wishlist-link {
  .topbadge {
    display: none !important;
  }
}

.header-mega .header-side {
  display: flex;

  .header-side__list--one {
    display: none;
    margin-right: 20px;

    @media (--m) {
      display: flex;
    }
  }
}

.header__mega__nav__mobilefooter__links {
  display: flex;
  padding: 19px 20px 17px;

  @media (--m) {
    display: none;
  }
}
