{%- render 'header-mega', main: section.settings -%}

{% schema %}
{
  "name": "Header Mega",
  "class": "header-mega",
  "blocks": [ {
      "type": "image",
      "name": "Image Card",
      "settings": [ {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      } ]
    }
  ]
}
{% endschema %}
